<form>
  <div class="form-container">
    <h2 class="section-header" mat-dialog-title>Login
    <mat-icon tabindex="-1" class="pointerCursor float-right" matRipple>close</mat-icon>
    </h2>
    <div mat-dialog-content>
      <mat-form-field appearance="outline" class="Width100">
        <mat-label>Email</mat-label>
        <input matInput type="text" value="" required autocomplete="email username">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint align="end">Enter your email</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="Width100">
        <mat-label>Password</mat-label>
        <input matInput type="password" value="" required autocomplete="current-password">
        <mat-icon matSuffix>password</mat-icon>
        <mat-hint align="end">Enter your password</mat-hint>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" aria-label="press to login">
        <mat-icon>login</mat-icon>
        Login
      </button>
      <button mat-raised-button color="warn" aria-label="cancel login dialog">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </div>
  </div>
</form>
