<mat-card [fxFlex]="FormSpec.Card_fxFlex"
          [dir]="this.translate.isRightToLeft(this.translate.GetCurrentLang())?'rtl':'ltr'"
          [class]="DarkOrLight===Constants.dark?Constants.CSS_dark_for_Child_Component:Constants.CSS_Light_for_Child_Component">
  <mat-card-title [ngClass]="ThemeColors.bg"
                  *ngIf="Title.length>0"
                  [class]="ThemeColors.colorName==='organge'||ThemeColors.colorName==='amber'?Constants.CSS_dark_color:
Constants.CSS_text_white"
                  [style.font-family]="!this.translate.isRightToLeft(this.translate.GetCurrentLang())? Constants.CSS_cursive_font_NotClass + ' !important':Constants.CSS_Hacen_Casablanca_font_NotClass+' !important'">
    <span *ngFor="let t of Title">
      {{!t.needTranslation?t.text:t.text.toLowerCase()|translate}}
    </span>
  </mat-card-title>

  <form [formGroup]="FormSpec.form"
        (ngSubmit)="FormSpec.form.valid"
        fxLayout="column">
    <div style="margin-top: 10px;"
         fxLayout="row"
         fxLayoutAlign="space-between"
         fxLayoutGap.xs="10px"
         fxLayout.xs="column">
      <ng-container *ngFor="let section of FormSpec.formSections">
        <mat-card [fxFlex]="section.fxFlex"
                  fxFlex.xs="100%">
          <mat-card-title *ngIf="section.sectionTitle"
                          [ngClass]="ThemeColors.bg"
                          [class]="ThemeColors.colorName==='organge'||ThemeColors.colorName==='amber'?Constants.CSS_dark_color:
            Constants.CSS_text_white">
            <span *ngFor="let t of section.sectionTitle">
              {{!t.needTranslation?t.text:t.text.toLowerCase()|translate}}
            </span>
          </mat-card-title>

          <mat-card-content fxLayout="row wrap"
                            fxLayout.xs="column"
                            fxLayoutAlign="space-between">
            <ng-container *ngFor="let field of section.formFieldsSpec">
              <mat-form-field [appearance]="field.appearance"
                              *ngIf="field.type==='text' || field.type==='tel' || field.type==='search' || field.type==='number'|| field.type==='email'"
                              [fxFlex]="field.fxFlex? field.fxFlex:''"
                              [fxFlex.xs]="field.fxFlex_xs?field.fxFlex_xs:''">
                <mat-label>
                  {{field.mat_label.toLowerCase()| translate}}
                </mat-label>
                <input matInput
                       [required]="field.required"
                       [maxlength]="field.maxLength?field.maxLength:''"
                       [minlength]="field.minLength?field.minLength:''"
                       [min]="field.min?field.min:''"
                       [max]="field.max?field.max:''"
                       [type]="field.type"
                       [value]="field.type ==='number'?'0.00':''"
                       [step]="field.type ==='number'?'0.25':''"
                       [formControlName]="field.formControlName"
                       [errorStateMatcher]="customErrorStateMatcher" />
                <mat-icon class="mat-18"
                          *ngIf="field.faIcon||field.GoogleIcon"
                          matSuffix>
                  <fa-icon *ngIf="field.faIcon&&!field.GoogleIcon"
                           [icon]="field.faIcon">
                    {{field.GoogleIcon&&!field.faIcon?field.GoogleIcon:''}}
                  </fa-icon>
                </mat-icon>
                <mat-hint *ngIf="field.hint"
                          [dir]="field.hint.dir"
                          [align]="field.hint.align">{{field.hint.text_no_translation?
                  field.hint.text_no_translation: field.hint.text_to_translation.toLowerCase()|translate}}</mat-hint>
                <mat-error *ngFor="let e of field.errors">
                  <span *ngIf="FormSpec.form.get(field.formControlName)?.hasError(e.type)">
                    <span *ngFor="let t of e.TranslatedMessage">
                      {{!t.needTraslation?t.text:(t.text.toLowerCase()|translate) + ' '}}
                    </span>
                  </span>
                </mat-error>
              </mat-form-field>
              <mat-form-field [appearance]="field.appearance"
                              *ngIf="field.type==='date'"
                              [fxFlex]="field.fxFlex? field.fxFlex:''"
                              [fxFlex.xs]="field.fxFlex_xs?field.fxFlex_xs:''">
                <mat-label>{{field.mat_label.toLowerCase()| translate}}</mat-label>
                <input matInput
                       [value]="FormSpec.form.get(field.formControlName)?.value"
                       [required]="field.required"
                       [errorStateMatcher]="customErrorStateMatcher"
                       [formControlName]="field.formControlName"
                       [matDatepicker]="picker"
                       (focus)="picker.open()"
                       (click)="picker.open()">

                <mat-datepicker-toggle matSuffix
                                       [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint *ngIf="field.hint"
                          [dir]="field.hint.dir"
                          [align]="field.hint.align">{{field.hint.text_no_translation?
                  field.hint.text_no_translation: field.hint.text_to_translation.toLowerCase()|translate}}</mat-hint>

                <mat-error *ngFor="let e of field.errors">

                  <span *ngIf="FormSpec.form.get(field.formControlName)?.hasError(e.type)">
                    <span *ngFor="let t of e.TranslatedMessage">
                      {{!t.needTraslation?t.text:(t.text.toLowerCase()|translate) + ' '}}
                    </span>
                  </span>
                </mat-error>
              </mat-form-field>
              <!-- ----------------------------------------------------------- TextArea -->
              <mat-form-field [appearance]="field.appearance"
                              *ngIf="field.type==='textarea'"
                              [fxFlex]="field.fxFlex? field.fxFlex:''"
                              [fxFlex.xs]="field.fxFlex_xs?field.fxFlex_xs:''">
                <mat-label>
                  {{field.mat_label.toLowerCase()| translate}}
                </mat-label>
                <textarea matInput
                          [formControlName]="field.formControlName"
                          cdkTextareaAutosize
                          [cdkAutosizeMinRows]="field.cdkAutosizeMinRows?field.cdkAutosizeMinRows:''"></textarea>
                <mat-icon class="mat-18"
                          *ngIf="field.faIcon||field.GoogleIcon"
                          matSuffix>
                  <fa-icon *ngIf="field.faIcon&&!field.GoogleIcon"
                           [icon]="field.faIcon">
                    {{field.GoogleIcon&&!field.faIcon?field.GoogleIcon:''}}
                  </fa-icon>
                </mat-icon>
                <mat-hint *ngIf="field.hint"
                          [dir]="field.hint.dir"
                          [align]="field.hint.align">{{field.hint.text_no_translation?
                  field.hint.text_no_translation: field.hint.text_to_translation.toLowerCase()|translate}}</mat-hint>

                <mat-error *ngFor="let e of field.errors">
                  <span *ngIf="FormSpec.form.get(field.formControlName)?.hasError(e.type)">
                    <span *ngFor="let t of e.TranslatedMessage">
                      {{!t.needTraslation?t.text:(t.text.toLowerCase()|translate) + ' '}}
                    </span>
                  </span>
                </mat-error>
              </mat-form-field>
              <!-- ----------------------------------------------------------- CheckBox -->
              <mat-checkbox color="primary"
                            *ngIf="field.type==='checkbox'"
                            [fxFlex]="field.fxFlex? field.fxFlex:''"
                            [fxFlex.xs]="field.fxFlex_xs?field.fxFlex_xs:''"
                            [formControlName]="field.formControlName">{{field.mat_label.toLowerCase()|translate}}
              </mat-checkbox>

              <!-- .................................................... Selection -->
              <mat-form-field [appearance]="field.appearance"
                              *ngIf="field.type==='select'"
                              [fxFlex]="field.fxFlex? field.fxFlex:''"
                              [fxFlex.xs]="field.fxFlex_xs?field.fxFlex_xs:''">
                <mat-label>{{field.mat_label.toLowerCase()| translate}}</mat-label>
                <mat-select [formControlName]="field.formControlName">
                  <div style="position: sticky; top:0px;z-index: 1000;background-color: aliceblue;">
                    <input matInput
                           #SearchInput
                           (input)="Search($event,field.PropertyNameToShowInSelection!)"
                           type="search"
                           placeholder="{{Constants.Search|translate}}">
                  </div>
                  <mat-divider inset></mat-divider>
                  <mat-option *ngIf="SearchInput.value!==''&&field.SelectData?.length===0"
                              [class]="Constants.CSS_blue">{{Constants.NoMatchedData_inSelection|translate}}
                  </mat-option>
                  <mat-option *ngIf="field.SelectionText_IfNoData && SearchInput.value!==''&&field.SelectData?.length===0"
                              [class]="Constants.CSS_red">{{field.SelectionText_IfNoData!|translate}}</mat-option>
                  <mat-option *ngFor="let el of field.SelectData"
                              [value]="el[field.PropertyNameToSetInValue!]">
                    {{el[field.PropertyNameToShowInSelection!]}}
                  </mat-option>
                  <button mat-button
                          *ngIf="field.SelectionBottomSheetComponent"
                          disableRipple
                          (click)="OpenButtomSheet(field.SelectionBottomSheetComponent!)">
                    <mat-icon class="mat-18">
                      <fa-icon *ngIf="field.SelectionInsideButton_faIcon && !field.SelectionInsideButton_GoogleIcon"
                               [icon]="field.SelectionInsideButton_faIcon"></fa-icon>
                      <span class="material-icons"
                            *ngIf="!field.SelectionInsideButton_faIcon && field.SelectionInsideButton_GoogleIcon">
                        {{field.SelectionInsideButton_GoogleIcon}}
                      </span>
                    </mat-icon>&nbsp; {{field.SelectionButton_text!.toLowerCase()|translate}}
                  </button>
                </mat-select>
                <mat-hint *ngIf="field.hint"
                          [dir]="field.hint.dir"
                          [align]="field.hint.align">{{field.hint.text_no_translation?
                  field.hint.text_no_translation: field.hint.text_to_translation.toLowerCase()|translate}}</mat-hint>

                <mat-error *ngFor="let e of field.errors">
                  <span *ngIf="FormSpec.form.get(field.formControlName)?.hasError(e.type)">
                    <span *ngFor="let t of e.TranslatedMessage">
                      {{!t.needTraslation?t.text:(t.text.toLowerCase()|translate) + ' '}}
                    </span>
                  </span>
                </mat-error>
              </mat-form-field>
              <div *ngIf="field.type === 'OneFile'"
                   fxLayout="row"
                   fxLayoutAlign="start center"
                   style="font: inherit !important;"
                   [fxFlex]="field.fxFlex? field.fxFlex:''"
                   [fxFlex.xs]="field.fxFlex_xs?field.fxFlex_xs:''">
                <label for="oneFileImage">{{field.mat_label.toLowerCase()| translate}} : </label>
                <input type="file"
                       accept="image/*"
                       name="oneFileImage"
                       hidden
                       (change)="onFileSelected($event,field.formControlName)"
                       #fileUpload>

                <div class="file-upload"
                     fxLayoutAlign="start center"
                     [dir]="translate.isRightToLeft(translate.GetCurrentLang())?'rtl':'ltr'">
                  <button mat-mini-fab
                          color="primary"
                          class="upload-btn"
                          (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                  </button>
                  <div *ngIf="!FormSpec.form.get(field.formControlName)?.value"
                       (click)="fileUpload.click()"
                       style="margin-left: 10px; margin-right: 10px; display: inline-block;">

                    <span *ngIf="field.UploadInputText">
                      <span *ngFor="let t of  field.UploadInputText">
                        {{!t.needTranslation?t.text:t.text.toLowerCase()|translate}}
                      </span>
                    </span>
                  </div>
                  <div fxLayoutAlign="center center"
                       *ngIf="FormSpec.form.get(field.formControlName)?.value"
                       style="margin-left: 10px; margin-right: 10px; display: inline-block;">
                    <img [src]="FormSpec.form.get(field.formControlName)?.value"
                         [alt]="field.formControlName"
                         width="100px">
                    <span><button mat-icon-button
                              [matTooltip]="Constants.Delete|translate"
                              (click)="FormSpec.form.get(field.formControlName)?.setValue(null); fileUpload.value=''"
                              [class]="Constants.CSS_text_warning">
                        <mat-icon class="mat-18">close</mat-icon>
                      </button></span>
                  </div>
                </div>
              </div>
              <!--..................................................... Form Array -->
              <ng-container *ngIf="field.type === 'array'"
                            [formArrayName]="field.formArrayName!">
                <mat-table class="mat-elevation-z8"
                           [dataSource]="field.dataSource!"
                           cdkDropList
                           #table1
                           id="table1">

                  <ng-container *ngFor="let control of formArray(field.formArrayName!).controls; let i=index"
                                [matColumnDef]="field.columns![i].field">
                    <th mat-header-cell
                        fxFlexAlign="center"
                        *matHeaderCellDef
                        cdkDrag
                        cdkDragLockAxis="x"
                        mat-sort-header>

                      <ng-template [ngIf]="field.columns![i].HeaderfaIcon || field.columns![i].HeaderGoogleIcon">
                        <mat-icon class="mat-18"
                                  *ngIf="field.columns![i].HeaderfaIcon">
                          <fa-icon [icon]="field.columns![i].HeaderfaIcon"></fa-icon>
                        </mat-icon>
                        <mat-icon class="mat-18"
                                  *ngIf="field.columns![i].HeaderGoogleIcon">
                          {{field.columns![i].HeaderGoogleIcon}}
                        </mat-icon>
                      </ng-template>
                      <ng-template [ngIf]="!field.columns![i].HeaderfaIcon && !field.columns![i].HeaderGoogleIcon">
                        {{field.columns![i].display.toLowerCase()|translate}}
                      </ng-template>
                    </th>

                    <td mat-cell
                        *matCellDef="let row">
                      <img *ngIf="field.columns![i].field.includes('logo')||field.columns![i].field.includes('image')"
                           [src]="formArray(field.formArrayName!).at(i).value"
                           width="100px" />
                      <ng-container *ngFor="let field of field.formFields">
                        <mat-form-field [appearance]="field.appearance"
                                        *ngIf="field.type==='text' || field.type==='tel' || field.type==='search' || field.type==='number'|| field.type==='email'"
                                        [fxFlex]="field.fxFlex? field.fxFlex:''"
                                        [fxFlex.xs]="field.fxFlex_xs?field.fxFlex_xs:''">
                          <mat-label>
                            {{field.mat_label.toLowerCase()| translate}}
                          </mat-label>
                          <input matInput
                                 [required]="field.required"
                                 [maxlength]="field.maxLength?field.maxLength:''"
                                 [minlength]="field.minLength?field.minLength:''"
                                 [min]="field.min?field.min:''"
                                 [max]="field.max?field.max:''"
                                 [type]="field.type"
                                 [value]="field.type ==='number'?'0.00':''"
                                 [step]="field.type ==='number'?'0.25':''"
                                 [formControlName]="i"
                                 [errorStateMatcher]="customErrorStateMatcher" />
                          <mat-icon class="mat-18"
                                    *ngIf="field.faIcon||field.GoogleIcon"
                                    matSuffix>
                            <fa-icon *ngIf="field.faIcon&&!field.GoogleIcon"
                                     [icon]="field.faIcon">
                              {{field.GoogleIcon&&!field.faIcon?field.GoogleIcon:''}}
                            </fa-icon>
                          </mat-icon>
                          <mat-hint *ngIf="field.hint"
                                    [dir]="field.hint.dir"
                                    [align]="field.hint.align">{{field.hint.text_no_translation?
                            field.hint.text_no_translation: field.hint.text_to_translation.toLowerCase()|translate}}
                          </mat-hint>
                          <mat-error *ngFor="let e of field.errors">
                            <span *ngIf="formArray(field.formArrayName!).at(i)?.hasError(e.type)">
                              <span *ngFor="let t of e.TranslatedMessage">
                                {{!t.needTraslation?t.text:(t.text.toLowerCase()|translate) + ' '}}
                              </span>
                            </span>
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field [appearance]="field.appearance"
                                        *ngIf="field.type==='date'"
                                        [fxFlex]="field.fxFlex? field.fxFlex:''"
                                        [fxFlex.xs]="field.fxFlex_xs?field.fxFlex_xs:''">
                          <mat-label>{{field.mat_label.toLowerCase()| translate}}</mat-label>
                          <input matInput
                                 [value]="formArray(field.formArrayName!).at(i)?.value"
                                 [required]="field.required"
                                 [errorStateMatcher]="customErrorStateMatcher"
                                 [formControlName]="i"
                                 [matDatepicker]="picker"
                                 (focus)="picker.open()"
                                 (click)="picker.open()">

                          <mat-datepicker-toggle matSuffix
                                                 [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-hint *ngIf="field.hint"
                                    [dir]="field.hint.dir"
                                    [align]="field.hint.align">{{field.hint.text_no_translation?
                            field.hint.text_no_translation: field.hint.text_to_translation.toLowerCase()|translate}}
                          </mat-hint>

                          <mat-error *ngFor="let e of field.errors">

                            <span *ngIf="formArray(field.formArrayName!).at(i)?.hasError(e.type)">
                              <span *ngFor="let t of e.TranslatedMessage">
                                {{!t.needTraslation?t.text:(t.text.toLowerCase()|translate) + ' '}}
                              </span>
                            </span>
                          </mat-error>
                        </mat-form-field>
                        <!-- ----------------------------------------------------------- TextArea -->
                        <mat-form-field [appearance]="field.appearance"
                                        *ngIf="field.type==='textarea'"
                                        [fxFlex]="field.fxFlex? field.fxFlex:''"
                                        [fxFlex.xs]="field.fxFlex_xs?field.fxFlex_xs:''">
                          <mat-label>
                            {{field.mat_label.toLowerCase()| translate}}
                          </mat-label>
                          <textarea matInput
                                    [formControlName]="i"
                                    cdkTextareaAutosize
                                    [cdkAutosizeMinRows]="field.cdkAutosizeMinRows?field.cdkAutosizeMinRows:''"></textarea>
                          <mat-icon class="mat-18"
                                    *ngIf="field.faIcon||field.GoogleIcon"
                                    matSuffix>
                            <fa-icon *ngIf="field.faIcon&&!field.GoogleIcon"
                                     [icon]="field.faIcon">
                              {{field.GoogleIcon&&!field.faIcon?field.GoogleIcon:''}}
                            </fa-icon>
                          </mat-icon>
                          <mat-hint *ngIf="field.hint"
                                    [dir]="field.hint.dir"
                                    [align]="field.hint.align">{{field.hint.text_no_translation?
                            field.hint.text_no_translation: field.hint.text_to_translation.toLowerCase()|translate}}
                          </mat-hint>

                          <mat-error *ngFor="let e of field.errors">
                            <span *ngIf="formArray(field.formArrayName!).at(i)?.hasError(e.type)">
                              <span *ngFor="let t of e.TranslatedMessage">
                                {{!t.needTraslation?t.text:(t.text.toLowerCase()|translate) + ' '}}
                              </span>
                            </span>
                          </mat-error>
                        </mat-form-field>
                        <!-- ----------------------------------------------------------- CheckBox -->
                        <mat-checkbox color="primary"
                                      *ngIf="field.type==='checkbox'"
                                      [fxFlex]="field.fxFlex? field.fxFlex:''"
                                      [fxFlex.xs]="field.fxFlex_xs?field.fxFlex_xs:''"
                                      [formControlName]="i">
                          {{field.mat_label.toLowerCase()|translate}}
                        </mat-checkbox>

                        <!-- .................................................... Selection -->
                        <mat-form-field [appearance]="field.appearance"
                                        *ngIf="field.type==='select'"
                                        [fxFlex]="field.fxFlex? field.fxFlex:''"
                                        [fxFlex.xs]="field.fxFlex_xs?field.fxFlex_xs:''">
                          <mat-label>{{field.mat_label.toLowerCase()| translate}}</mat-label>
                          <mat-select [formControlName]="i">
                            <div style="position: sticky; top:0px;z-index: 1000;background-color: aliceblue;">
                              <input matInput
                                     #SearchInput
                                     (input)="Search($event,field.PropertyNameToShowInSelection!)"
                                     type="search"
                                     placeholder="{{Constants.Search|translate}}">
                            </div>
                            <mat-divider inset></mat-divider>
                            <mat-option *ngIf="SearchInput.value!==''&&field.SelectData?.length===0"
                                        [class]="Constants.CSS_blue">{{Constants.NoMatchedData_inSelection|translate}}
                            </mat-option>
                            <mat-option *ngIf="field.SelectionText_IfNoData && SearchInput.value!==''&&field.SelectData?.length===0"
                                        [class]="Constants.CSS_red">{{field.SelectionText_IfNoData!|translate}}
                            </mat-option>
                            <mat-option *ngFor="let el of field.SelectData"
                                        [value]="el[field.PropertyNameToSetInValue!]">
                              {{el[field.PropertyNameToShowInSelection!]}}
                            </mat-option>
                            <button mat-button
                                    *ngIf="field.SelectionBottomSheetComponent"
                                    disableRipple
                                    (click)="OpenButtomSheet(field.SelectionBottomSheetComponent!)">
                              <mat-icon class="mat-18">
                                <fa-icon *ngIf="field.SelectionInsideButton_faIcon && !field.SelectionInsideButton_GoogleIcon"
                                         [icon]="field.SelectionInsideButton_faIcon"></fa-icon>
                                <span class="material-icons"
                                      *ngIf="!field.SelectionInsideButton_faIcon && field.SelectionInsideButton_GoogleIcon">
                                  {{field.SelectionInsideButton_GoogleIcon}}
                                </span>
                              </mat-icon>&nbsp; {{field.SelectionButton_text!.toLowerCase()|translate}}
                            </button>
                          </mat-select>
                          <mat-hint *ngIf="field.hint"
                                    [dir]="field.hint.dir"
                                    [align]="field.hint.align">{{field.hint.text_no_translation?
                            field.hint.text_no_translation: field.hint.text_to_translation.toLowerCase()|translate}}
                          </mat-hint>

                          <mat-error *ngFor="let e of field.errors">
                            <span *ngIf="formArray(field.formArrayName!).at(i)?.hasError(e.type)">
                              <span *ngFor="let t of e.TranslatedMessage">
                                {{!t.needTraslation?t.text:(t.text.toLowerCase()|translate) + ' '}}
                              </span>
                            </span>
                          </mat-error>
                        </mat-form-field>
                        <div *ngIf="field.type === 'OneFile'"
                             fxLayout="row"
                             fxLayoutAlign="start center"
                             style="font: inherit !important;"
                             [fxFlex]="field.fxFlex? field.fxFlex:''"
                             [fxFlex.xs]="field.fxFlex_xs?field.fxFlex_xs:''">
                          <label for="oneFileImage">{{field.mat_label.toLowerCase()| translate}} : </label>
                          <input type="file"
                                 accept="image/*"
                                 name="oneFileImage"
                                 hidden
                                 (change)="onFileSelected($event,field.formControlName)"
                                 #fileUploadInArray>

                          <div class="file-upload"
                               fxLayoutAlign="start center"
                               [dir]="translate.isRightToLeft(translate.GetCurrentLang())?'rtl':'ltr'">
                            <button mat-mini-fab
                                    color="primary"
                                    class="upload-btn"
                                    (click)="fileUploadInArray.click()">
                              <mat-icon>attach_file</mat-icon>
                            </button>
                            <div *ngIf="!formArray(field.formArrayName!).at(i)?.value"
                                 (click)="fileUploadInArray.click()"
                                 style="margin-left: 10px; margin-right: 10px; display: inline-block;">

                              <span *ngIf="field.UploadInputText">
                                <span *ngFor="let t of  field.UploadInputText">
                                  {{!t.needTranslation?t.text:t.text.toLowerCase()|translate}}
                                </span>
                              </span>
                            </div>
                            <div fxLayoutAlign="center center"
                                 *ngIf="formArray(field.formArrayName!).at(i)?.value"
                                 style="margin-left: 10px; margin-right: 10px; display: inline-block;">
                              <img [src]="formArray(field.formArrayName!).at(i)?.value"
                                   width="100px">
                              <span><button mat-icon-button
                                        [matTooltip]="Constants.Delete|translate"
                                        (click)="formArray(field.formArrayName!).at(i)?.setValue(null); fileUploadInArray.value=''"
                                        [class]="Constants.CSS_text_warning">
                                  <mat-icon class="mat-18">close</mat-icon>
                                </button></span>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <span *ngIf="field.columns![i].IsTrueOrFlase">
                        <span *ngIf="field.columns![i].True_faIcon || field.columns![i].False_faIcon">
                          <mat-icon class="mat-18"
                                    [class]="Constants.CSS_green"
                                    *ngIf="row[field.columns![i].field]===true ">
                            <fa-icon [icon]="field.columns![i].True_faIcon"></fa-icon>
                          </mat-icon>
                          <mat-icon class="mat-18"
                                    [class]="Constants.CSS_red"
                                    *ngIf="row[field.columns![i].field]===false">
                            <fa-icon [icon]="field.columns![i].False_faIcon"></fa-icon>
                          </mat-icon>
                        </span>
                        <span *ngIf="field.columns![i].True_GoogleIcon || field.columns![i].False_GoogleIcon">
                          <mat-icon class="mat-18"
                                    [class]="Constants.CSS_green"
                                    *ngIf="row[field.columns![i].field]===true ">
                            {{field.columns![i].True_GoogleIcon }}
                          </mat-icon>
                          <mat-icon class="mat-18"
                                    [class]="Constants.CSS_red"
                                    *ngIf="row[field.columns![i].field]===false">
                            {{field.columns![i].False_GoogleIcon}}
                          </mat-icon>
                        </span>
                      </span>

                    </td>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="field.displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: field.displayedColumns;"
                           cdkDrag></mat-row>
                </mat-table>
              </ng-container>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
    <div fxLayout="row"
         style="margin-top: 10px;"
         fxLayoutAlign="space-between"
         fxLayoutGap.xs="10px"
         fxLayout.xs="column">
      <button mat-raised-button
              [fxFlex]="showCloseButton?'49%':'100%'"
              fxFlex.xs="100%"
              (submit)="Form.form.valid"
              [disabled]="Form.form.invalid"
              [ngClass]="ThemeColors.bg"
              (click)="SendData()"
              [class]="ThemeColors.colorName==='organge'||ThemeColors.colorName==='amber'?Constants.CSS_dark_color:
    Constants.CSS_text_white"
              aria-label="Add new product">
        <mat-icon>
          <mat-spinner diameter="20"
                       color="warn"
                       *ngIf="loading"></mat-spinner><span *ngIf="!loading"
                class="material-icons-outlined">
            <fa-icon *ngIf="FormSpec.Button_faIcon&&!FormSpec.Button_GoogleIcon"
                     [icon]="FormSpec.Button_faIcon"></fa-icon>
            <span class="material-icons"
                  *ngIf="!FormSpec.Button_faIcon&&FormSpec.Button_GoogleIcon">
              {{FormSpec.Button_GoogleIcon}}
            </span>
          </span>
        </mat-icon>
        <span *ngFor="let x of FormSpec.ButtonText">
          {{x.toLowerCase()|translate}}&nbsp;
        </span>
      </button>
      <button mat-raised-button
              fxFlex.xs="100%"
              (click)="BottomSheetDismiss()"
              color="warn"
              *ngIf="showCloseButton"
              [fxFlex]="showCloseButton?'49%':''">
        {{Constants.close|translate}}
      </button>
    </div>
  </form>
</mat-card>
<ngx-spinner name="form"></ngx-spinner>