[dir="rtl"] {
    font-family: Calibri !important;
    font-weight: bold;
}
/* .dark-for-Child-Component form{
    background-color: #232b3e !important;
}
.Light-for-Child-Component form{
    background-color: #f1f2f7 !important;
} */
