@font-face {
    font-family: 'Jomhuria';
    src: url('Jomhuria-Regular.eot');
    src: url('Jomhuria-Regular.eot?#iefix') format('embedded-opentype'),
        url('Jomhuria-Regular.woff2') format('woff2'),
        url('Jomhuria-Regular.woff') format('woff'),
        url('Jomhuria-Regular.ttf') format('truetype'),
        url('Jomhuria-Regular.svg#Jomhuria-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

