<ng-container *ngIf="ErrorGettingAllBands.length !==0">
  <div class="errorsIn_The_center_Screen">
    <ul>
      <li *ngFor="let error of ErrorGettingAllBands">
        {{error.status|translate}}
      </li>
    </ul>
  </div>
</ng-container>
<ng-container *ngIf="ErrorGettingAllBands.length === 0">
  <mat-card
            [class]="DarkOrLight===Constants.dark?Constants.CSS_dark_for_Child_Component:Constants.CSS_Light_for_Child_Component">
    <mat-card-title [style.font-family]="!this.translate.isRightToLeft(this.translate.GetCurrentLang())? Constants.CSS_cursive_font_NotClass + ' !important':Constants.CSS_Hacen_Casablanca_font_NotClass+' !important'"
                    [dir]="this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'rtl':
      !this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'ltr':'ltr'">
      {{Constants.Brand_Names|translate}}</mat-card-title>
    <mat-card-subtitle [dir]="this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'rtl':
      !this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'ltr':'ltr'">
      {{this.Constants.Add_Edit_Delete | translate}} {{Constants.Brand_Names|translate}}
    </mat-card-subtitle>
    <mat-card-content>
      <mat-form-field appearance="outline"
                      [class]="Constants.CSS_Width100">
        <mat-label>{{Constants.Search_table|translate}}</mat-label>
        <input #BrandSearch
               matInput
               type="search"
               name="MainCatTableFilter"
               id="MainCatTableFilter"
               (input)="externalFilterChanged(BrandSearch)">
        <mat-icon matSuffix><span class="material-icons-outlined">
            search
          </span></mat-icon>
      </mat-form-field>
      <ng-template [ngIf]="AgGridDir === 'rtl'"
                   [ngIfElse]="LeftGrid"
                   #Withbutton>
        <ag-grid-angular style="width: 100%; height: 450px;"
                         [class]="Table_Color_mode===Constants.light || Theme_dir===Constants.light?'ag-theme-alpine':'ag-theme-alpine-dark'"
                         [rowData]="ItemBrands | async"
                         [columnDefs]="columnDefs"
                         (gridReady)="OnGridReady($event)"
                         [defaultColDef]="defaultColDef"
                         [overlayLoadingTemplate]="overlayLoadingTemplate"
                         [animateRows]="true"
                         [enableRtl]="true"
                         [frameworkComponents]="agFrameworks"
                         rowSelection="single"
                         (cellValueChanged)="UpdateBrand($event)">
        </ag-grid-angular>
      </ng-template>
      <ng-template #LeftGrid>
        <ag-grid-angular style="width: 100%; height: 450px;"
                         [class]="Table_Color_mode===Constants.light || Theme_dir===Constants.light?'ag-theme-alpine':'ag-theme-alpine-dark'"
                         [rowData]="ItemBrands | async"
                         [columnDefs]="columnDefs"
                         (gridReady)="OnGridReady($event)"
                         [defaultColDef]="defaultColDef"
                         [overlayLoadingTemplate]="overlayLoadingTemplate"
                         [animateRows]="true"
                         [enableRtl]="false"
                         [frameworkComponents]="agFrameworks"
                         rowSelection="single"
                         (cellValueChanged)="UpdateBrand($event)">
        </ag-grid-angular>
      </ng-template>

    </mat-card-content>
    <mat-progress-bar mode="indeterminate"
                      *ngIf="ShowProgressBar"></mat-progress-bar>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <form [formGroup]="AddBrandForm"
            (ngSubmit)="AddBrandForm.valid">

        <!-- Category Name -->
        <mat-form-field appearance="outline"
                        [class]="Constants.CSS_Width100">
          <mat-label [ngClass]="ValidationErrorMessage.getFormControl('BrandName', AddBrandForm)
            .valid?Constants.CSS_valid_green:''">{{Constants.Brand_Names| translate}}</mat-label>
          <input matInput
                 required
                 [maxlength]="MaxLength"
                 type="text"
                 value=""
                 formControlName="BrandName"
                 [errorStateMatcher]="customErrorStateMatcher" />
          <mat-icon matSuffix><span class="material-icons-outlined">
              category
            </span></mat-icon>
          <mat-error *ngIf="ValidationErrorMessage.getFormControl('BrandName',AddBrandForm)
            .hasError('required')">
            {{Constants.Required_field_Error | translate}}
          </mat-error>
          <mat-error *ngIf="ValidationErrorMessage.getFormControl('BrandName', AddBrandForm)
          .hasError('maxlength')">{{Constants.MaxLengthExceeded_ERROR | translate}} {{MaxLength}}
            {{Constants.characters|translate}} </mat-error>
        </mat-form-field>
        <button mat-raised-button
                color="primary"
                (submit)="AddBrandForm.valid"
                [disabled]="AddBrandForm.invalid"
                [ngClass]="ThemeColors.bg + ' ' + Constants.CSS_Width100"
                [class]="ThemeColors.colorName==='organge'||ThemeColors.colorName==='amber'?Constants.CSS_dark_color:
          Constants.CSS_text_white"
                aria-label="Add Brand"
                (click)="AddBrand()">
          <mat-icon>
            <mat-spinner diameter="20"
                         color="warn"
                         *ngIf="loading"></mat-spinner><span *ngIf="!loading"
                  class="material-icons-outlined">
              add_circle
            </span>
          </mat-icon>
          {{'Add'|translate}} {{Constants.Brand_Name_Singular | translate}}
        </button>
      </form>
    </mat-card-actions>
  </mat-card>
</ng-container>
