<div fxLayout="column"
     fxLayoutGap="16px">
  <mat-card-title-only [Title]="Title"
                       [Subtitle]="Subtitle">
  </mat-card-title-only>
  <kiko-table [columns]="
                     columns"
              [data]="AllInventories"
              [datasource]="dataSource"
              [isLoadingResults]="isLoadingResults"
              [ShowProgressBar]="ShowProgressBar"
              [NoData]="AllInventories.length===0 && !isLoadingResults"
              (DeleteClick)="Delete($event)"
              (DoubleClickRow)="Dbclick($event)"
              (rowsSelection)="SelectRow($event)"
              (EditClick)="EditInventory($event)"
              [AddedRow]="AddedRow"
              [PreventDeleteForValue]="1"
              PreventDeleteForKey="id"
              ReferencialField="inventAdd"
              [RowDeleted]="RowDeleted"
              (ReferencialField_AddClick)="AddAddress($event)"
              (ReferencialField_EditClick)="EditAdress($event)"
              (ReferencialField_DeleteClick)="DeleteAddress($event)"
              (ClickAddButton)="AddNewInvent($event)"
              [ToolTipText_input]="translate.GetTranslation(this.Constants.Add.toLowerCase()) + ' ' + translate.GetTranslation(this.Constants.Warehouse_Singular.toLowerCase())">

  </kiko-table>
</div>