<div fxLayout="column"
     fxLayoutGap="16px">
  <mat-card-title-only [Title]="Constants.Warehouses"
                       [Subtitle]="translate.GetTranslation(Constants.Add_Edit_Delete) + ' '
                     + translate.GetTranslation(Constants.Warehouses)">
  </mat-card-title-only>
  <kiko-table [columns]="
                     columns"
              [data]="AllInventories"
              [datasource]="dataSource"
              [isLoadingResults]="isLoadingResults"
              [ShowProgressBar]="ShowProgressBar"
              [NoData]="AllInventories.length===0 && !isLoadingResults"
              (DeleteClick)="Delete($event)"
              (DoubleClickRow)="Dbclick($event)"
              (rowsSelection)="SelectRow($event)"
              (EditClick)="EditInventory($event)"
              [AddedRow]="AddedRow"
              [PreventDeleteFor]="translate.GetTranslation(Constants.MainWarehouse)"
              ReferencialField="inventAdd"
              (ReferencialField_AddClick)="AddAddress($event)"
              (ReferencialField_EditClick)="EditAdress($event)">
  </kiko-table>

  <kiko-form *ngIf="FormBuilder"
             [Form]="FormBuilder"
             (GetValue)="AddNewInvetory($event)"></kiko-form>
</div>
