<mat-toolbar fxLayoutAlign="space-between center" #Toolbar
  [class]="toolbarStyle"
  [fxLayout]="selected&&translate.isRightToLeft(selected)?'row-reverse':'row'">
  <div
    [fxLayout]="selected&&translate.isRightToLeft(selected)?'row-reverse':'row'">
    <a fxLayoutAlign="center center" routerLink="/" fxFlex="17%"><img
        class="logo"
        src="../../../../assets/logo.png" alt="logo"></a>
    <!-- Language selector -->
    <button mat-icon-button aria-label="menu toggle"
      class="{{Constants.CSS_text_white}}"
      [matMenuTriggerFor]="LangSelector">
      <mat-icon>language</mat-icon>
      <mat-menu #LangSelector>
        <a mat-menu-item *ngFor="let code of translate.getLangs()"
          (click)="switchLang(code)">
          {{ translate.NameByCode(code) | titlecase }}
        </a>
      </mat-menu>
    </button>
    <!------------------------ Menu-----------------------------------------------
  --------------------------------------------------------------------------- -->
    <ul fxLayout="row" fxHide.lt-sm fxHide.sm
      [dir]="selected&&translate.isRightToLeft(selected)?'rtl':'ltr'">
      <li fxFlexAlign="center center"><a mat-button
          [routerLink]="['/']"
          [ngClass]="selected&&translate.isRightToLeft(selected)?Constants.CSS_ButtonArabicFont:''"
          routerLinkActive="{{HomeButtonActive}}"><mat-icon
            class="mat-18">home</mat-icon>{{"Home"|translate}}</a></li>
      <li fxFlexAlign="center center" *ngIf="currentUserName!==null"><a
          mat-button
          [ngClass]="selected&&translate.isRightToLeft(selected)?Constants.CSS_ButtonArabicFont:''"
          [class]="DashboardButtonActive" [href]="UrlWithSubdomain +
          '/app'"
          routerLinkActive="btn btn-neutral"><mat-icon
            class="mat-18">dashboard</mat-icon>{{'Dashboard'|translate}}</a></li>
      <li fxFlexAlign="center center"><a mat-button
          [ngClass]="selected&&translate.isRightToLeft(selected)?Constants.CSS_ButtonArabicFont:''"
          [routerLink]="['','account']" routerLinkActive="btn btn-neutral"><mat-icon
            class="mat-18">person</mat-icon>{{'Account'|translate}}</a></li>
    </ul>
  </div>

  <!------------------------ Login Register ------------------------------------
  --------------------------------------------------------------------------- -->
  <div
    [fxLayout]="selected&&translate.isRightToLeft(selected)?'row-reverse':'row'"
    fxLayoutAlign="space-between" fxLayoutGap="10px">
    <!-- icon for mobile devices -->
    <button mat-icon-button aria-label="menu toggle"
      fxHide.gt-sm class="{{Constants.CSS_text_white}}"
      [matMenuTriggerFor]="LoginRegister">
      <mat-icon>menu</mat-icon>
      <!-- menu for small screens -->
      <mat-menu #LoginRegister="matMenu">
        <a mat-menu-item
          [routerLink]="['/']"
          [ngClass]="selected&&translate.isRightToLeft(selected)?Constants.CSS_ButtonArabicFont:''"><mat-icon
            class="mat-18">home</mat-icon>{{"Home"|translate}}</a>
        <a *ngIf="currentUserName!==null"
          mat-menu-item
          [ngClass]="selected&&translate.isRightToLeft(selected)?Constants.CSS_ButtonArabicFont:''"
          [class]="DashboardButtonActive" [href]="UrlWithSubdomain +
          '/dashboard'"><mat-icon
            class="mat-18">dashboard</mat-icon>{{'Dashboard'|translate}}</a>
        <a mat-menu-item
          [ngClass]="selected&&translate.isRightToLeft(selected)?Constants.CSS_ButtonArabicFont:''"
          [routerLink]="['','account']"><mat-icon
            class="mat-18">person</mat-icon>{{'Account'|translate}}</a>
        <mat-divider></mat-divider>
        <ng-container *ngIf="currentUserName===null">
          <button mat-menu-item (click)="OnLoginClick($event)"
            [ngClass]="selected&&translate.isRightToLeft(selected)?Constants.CSS_ButtonArabicFont:''">
            <mat-icon>login</mat-icon>
            {{'Login' | translate}}
          </button>
          <button mat-menu-item (click)="OnRegisterlick()"
            class="CreateAccountNowButton"
            [ngClass]="selected&&translate.isRightToLeft(selected)?Constants.CSS_ButtonArabicFont:''">
            <mat-icon>person_add</mat-icon>
            {{'Register' | translate}}
          </button>
        </ng-container>
        <ng-container *ngIf="currentUserName!==null">
          <a mat-menu-item>
            {{currentUserName}}
          </a>
          <button mat-menu-item (click)="logOut($event)">
            <mat-icon>logout</mat-icon>
            {{'Logout' | translate}}
          </button>
        </ng-container>
      </mat-menu>
    </button>
    <ng-container *ngIf="currentUserName===null">

      <!-- loggin on wide screens -->
      <button mat-raised-button class="btn btn-neutral" aria-label="login
        Button" (click)="OnLoginClick($event)" fxHide.lt-sm fxHide.sm
        [ngClass]="selected&&translate.isRightToLeft(selected)?Constants.CSS_ButtonArabicFont:''">
        <mat-icon>login</mat-icon>
        {{'Login' | translate}}
      </button>
      <!-- Register on wide screesn -->
      <button mat-raised-button class="btn btn-success"
        aria-label="Register button" (click)="OnRegisterlick()" fxHide.lt-sm
        fxHide.sm
        [ngClass]="selected&&translate.isRightToLeft(selected)?Constants.CSS_ButtonArabicFont:''">
        <mat-icon>person_add</mat-icon>
        {{'Register' | translate}}
      </button>
    </ng-container>
    <!-- UserName on wide screens -->
    <ng-container *ngIf="currentUserName!==null">
      <a class="b-white text-white" aria-label="Username" fxHide.lt-sm
        fxHide.sm>
        {{currentUserName}}
      </a>&nbsp;
      <!-- loggout on white screens -->
      <button mat-raised-button class="btn btn-neutral" aria-label="loggout
        button" (click)="logOut($event)" *ngIf="currentUserName!==null"
        fxHide.lt-sm fxHide.sm
        [ngClass]="selected&&translate.isRightToLeft(selected)?Constants.CSS_ButtonArabicFont:''">
        <mat-icon>logout</mat-icon>
        {{'Logout' | translate}}
      </button>
    </ng-container>
  </div>

</mat-toolbar>
