/*'Chewy'*/
@import url("./assets/Fonts/Chewy/stylesheet.css");
/*'Fredoka One'*/
@import url("./assets/Fonts/Fredoka_One/stylesheet.css");
/*'Jomhuria'*/
@import url("./assets/Fonts/Jomhuria/stylesheet.css");
/*'Patrick Hand'*/
@import url("./assets/Fonts/Patrick_Hand/stylesheet.css");
/*'Scheherazade New'*/
@import url("./assets/Fonts/Scheherazade_New/stylesheet.css");
/*'Paytone One'*/
@import url("./assets/Fonts/Paytone_One/stylesheet.css");
/*'Titan One'*/
@import url("./assets/Fonts/Titan_One/stylesheet.css");
/*Lalezar*/
@import url("./assets/Fonts/Lalezar/stylesheet.css");
/*'Almarai'*/
@import url("./assets/Fonts/Almarai/stylesheet.css");
/*'Noto Sans Arabic'*/
@import url("./assets/Fonts/Noto_Sans_Arabic/stylesheet.css");
/*'Calibri'*/
@import url("./assets/Fonts/calibri/stylesheet.css");
/*'HacenCasablancaHeavy'*/
@import url("./assets/Fonts/HacenCasablancaHeavy/stylesheet.css");
:root {
  /*.....................................Fonts.........................*/
  --Almarai: "Almarai";
  --Chewy: "Chewy";
  --Fredoka: "Fredoka One";
  --Jomhuria: "Jomhuria";
  --Patrick: "Patrick Hand";
  --Scheherazade: "Scheherazade New";
  --Paytone: "Paytone One";
  --Titan: "Titan One";
  --NotoSansArabic: "Noto Sans Arabic";
  --Lalezar: "Lalezar";
  --Calibri: "Calibri";
  --Hacen: "Hacen Casablanca";
  /*......................................colors..........................*/
  --sucessColor: #2dce89;
  --infoColor: #11cdef;
  --WarningCOlor: #fa3a0e;
  --DangerColor: #f5365c;
  --PrimaryColor_Active: #324cdd;
  --PrimaryColor: #5e72e4;
}

body {
  margin: 0;
}
/* ----------------------------------------------------------------------------------------
------------------------General Styles ----------------------------------------------------
----------------------------------------------------------------------------*/
.example-spacer {
  flex: 1 1 auto;
}
.Width100 {
  width: 100%;
}
.b-white {
  border-color: white !important;
}
.float-right {
  float: right;
}
.pointerCursor {
  cursor: pointer;
}
.justify-Content-Center {
  justify-content: center !important;
}
.text-info {
  color: var(--infoColor) !important;
}
.text-success {
  color: var(--sucessColor) !important;
}

.text-warning {
  color: var(--WarningCOlor) !important;
}
.text-primary {
  color: var(--PrimaryColor) !important;
}
.text-danger {
  color: var(--DangerColor) !important;
}
.text-white {
  color: white !important;
}
.Overflow-x-hidden {
  overflow-x: hidden !important;
}
.bg-grey {
  background-color: rgb(203, 203, 203);
}
/* ----------------------------------------------------------------------------------------
------------------------Dialog Styles----------------------------------------------------
----------------------------------------------------------------------------*/
.dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mat-dialog-title {
  width: 90%;
  border-bottom: 2px solid black;
  font-weight: bold !important;
}
form p {
  margin-top: 18px !important;
}
.subdomain {
  /*width: 100%;*/
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-items: center;
}

.OwnerRegisterDialog {
  min-width: 100vw !important;
}
.OwnerRegisterDialog .mat-dialog-container {
  min-width: 100vw !important;
  min-height: 100vh !important;
}
.ClientRegisterDialog {
  min-width: 100vw !important;
}
.ClientRegisterDialog .mat-dialog-container {
  min-width: 100vw !important;
  min-height: 100vh !important;
}

.closeIcon {
  border: 2px solid black !important;
  color: black !important;
}
.closeIcon:hover {
  border: 2px solid black !important;
  background-color: black !important;
  color: white !important;
  cursor: pointer !important;
}

.valid-green,
.ng-valid div {
  color: #009e08 !important;
}

.password > div .mat-form-field-subscript-wrapper {
  position: relative !important;
}
.mat-dialog-title {
  color: black !important;
}
.buttonLink {
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #1a73e8;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.25px;
  outline: 0;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
  text-align: left;
  border: 0;
  font-weight: bold;
}
.Error-Notification {
  background-color: red;
}
.Success-Notification {
  background-color: green;
}
.Error-Notification,
.Success-Notification {
  color: white;
}
.ValidationErrors > ul {
  color: red !important;
}
/*.alert {
  position: relative;
  padding: inherit;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}*/
.errorsIn_The_center_Screen{
  background: #f8d7da;
    border: 2px  solid #fd132a;
    width: 70%;
    margin: auto;
    color: #842029;
    border-radius: 15px;
font-size: 1.2rem;
transform: translateY(40vh);
}
.ClientLoginDiablog mat-dialog-container{
  background: none;
  padding: 0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.marginTop-5 {
  margin-top: 5px;
}
.Error-Notification .mat-simple-snackbar-action,
.Success-Notification .mat-simple-snackbar-action {
  color: White;
}
.homeLink {
  text-decoration: none !important;
  color: inherit !important;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}

.min-height-100vh {
  min-height: 100vh;
  padding: 1.5rem;
}
.bg-white {
  background-color: white;
}
/*................................Fonts ..................*/
.ScheherazadeNew-Regular {
  font-family: Almarai, Lalezar !important;
  font-weight: normal;
}

.ScheherazadeNew-Bold {
  font-family: NotoSansArabic !important;
  font-weight: bold;
}
.max-width-100 {
  max-width: 100% !important;
}
.max-width-100vw {
  max-width: 100vw !important;
}
.max-height-100vh {
  max-width: 100vh !important;
}
[dir="rtl"]{
  font-family: Calibri;
}

.Calibri-font {
  font-family: Calibri !important;
}
.LelezarFont {
  font-family: Lalezar !important;
}
.font-size-1-5rem {
  font-size: 1.5rem !important;
}

.font-size-1-2rem {
  font-size: 1.2rem !important;
}
.bg-transparent {
  background: transparent !important;
}

.btn {
  position: relative;
  transition: all 0.15s ease;
  will-change: transform;
  letter-spacing: 0.025em;
  font-size: 0.875rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  padding: 5px !important;
}
.btn-primary {
  color: rgb(61, 61, 61);
  background-color: #5e72e4;
  border-color: #5e72e4;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-info {
  color: #fff;
  background-color: #11cdef;
  border-color: #11cdef;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-success {
  color: #fff;
  background-color: #2dce89;
  border-color: #2dce89;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-warning {
  color: #fff;
  background-color: #fb6340;
  border-color: #fb6340;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-danger {
  color: #fff;
  background-color: #f5365c;
  border-color: #f5365c;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-neutral {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #5e72e4 !important;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%) !important;
}
.btn:hover {
  box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.btn-black {
  color: #fff;
  background-color: black;
  border-color: black;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
/* ----------------------------------------------------------------------------------------
------------------------ ToolBar Styles  ----------------------------------------------------
----------------------------------------------------------------------------*/

.langSelectorMaidDomainStyle {
  padding: 9px;
  border-radius: 6px;
  margin-top: 2px;
  background-color: white;
  color: black;
}

.langSelectionSize .mat-form-field-underline {
  display: none !important;
}
.loginButton {
  color: blue;
}
.loginButton:hover {
  background-color: blue;
  color: white;
}
.ButtonArabicFont {
  font-family: NotoSansArabic, Almarai !important;
  font-weight: bold;
  font-size: 1.2rem;
}
.langSelectionSize {
  width: 60px !important;
}
.ToolBar {
  position: fixed !important;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
}

.logo {
  max-width: 100%;
  color: white;
}

/* ----------------------------------------------------------------------------------------
------------------------ Client Main Domain Style -----------------------------------------
----------------------------------------------------------------------------*/
.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  justify-content: center !important;
  font-size: 1.2rem;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

form[dir="rtl"] {
  font-family: Calibri !important;
}
form[dir="rtl"] .mat-icon span.ng-star-inserted{
  font-family: 'Material Icons' !important ;
}
.Dashboard-ToolTip {
  background-color: rgb(133, 0, 0);
  color: white;
  font-size: 0.9rem !important;
  font-family: val(--Calibri);
}

.text-center {
  text-align: center !important;
}
.Dashboard-Sidenav-CompmanyName {
  text-align: center !important;
  font-size: 2rem;
  font-weight: bold;
}
.mat-drawer-inner-container {
  overflow-x: hidden !important;
}
.userIconImage {
  border-radius: 50%;
  border: 2px solid white;
}

/* For dark and light themes */
.dark-for-Body {
  background-color: #232b3e;
  color: #e6e6e6 !important;
  /* padding-top: 1px; */
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.light-For_body {
  background-color: #f1f2f7;
  transition: all 0.5s;
  font-family: "Poppins", sans-serif;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
/* mat-sidenav.dark{
  color:#e6e6e6;
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
} */
.smallCloseIcone {
  margin: 0 !important;
  padding: 0 !important;
  min-width: 0 !important;
  line-height: 0 !important;
  height: 0 !important;
  width: 0 !important;
}
.smallCloseIcone span {
  font-size: 20px;
  color: var(--DangerColor);
}

.padding-10 {
  padding: 10px;
}
.dark-for-others {
  background-color: #1a202e !important;
  color: #e6e6e6 !important;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.light-for-others {
  background-color: white !important;
  color: #333 !important;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.dark-color {
  color: #333 !important;
}
.light-color {
  color: #e6e6e6 !important;
}
.blue-bg {
  background-color: #5c77ff !important;
}
.amber-bg {
  background-color: #ffc107 !important;
}
.cyan-bg {
  background-color: #00bcd4 !important;
}
.deep_organge-bg {
  background-color: #ff5722 !important;
}
.deep_purple-bg {
  background-color: #673ab7 !important;
}
.green-bg {
  background-color: #4caf50 !important;
}
.organge-bg {
  background-color: #ff9800 !important;
}
.pink-bg {
  background-color: #e91e63 !important;
}
.purple-bg {
  background-color: #9c27b0 !important;
}
.red-bg {
  background-color: #f44336 !important;
}
.teal-bg {
  background-color: #009688 !important;
}

.blue {
  color: #5c77ff !important;
}
.amber {
  color: #ffc107 !important;
}
.cyan {
  color: #00bcd4 !important;
}
.deep_organge {
  color: #ff5722 !important;
}
.deep_purple {
  color: #673ab7 !important;
}
.green {
  color: #4caf50 !important;
}
.organge {
  color: #ff9800 !important;
}
.pink {
  color: #e91e63 !important;
}
.purple {
  color: #9c27b0 !important;
}
.red {
  color: #f44336 !important;
}
.teal {
  color: #009688 !important;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c77ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c41a9;
}
.mat-button-toggle-label-content {
  font-family: var(--Calibri) !important;
  font-weight: bold !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-for-Child-Component{
  background-color: #1a202e !important;
  color: #e6e6e6 !important;
  /* padding-top: 1px; */
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.Light-for-Child-Component{
  background-color: white !important;
  transition: all 0.5s;
  font-family: "Poppins", sans-serif;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.mat-button-disabled{
  background-color: rgba(0,0,0,.12) !important;
 }

/* .mat-button-wrapper{
  font-weight: bold !important;
} */
.dark-for-Child-Component .mat-raised-button.mat-primary.mat-button-disabled, .mat-raised-button.mat-button-disabled.mat-button-disabled{
  color: rgb(255 255 255 / 26%) !important;
}
.Light-for-Child-Component .mat-raised-button.mat-primary.mat-button-disabled, .mat-raised-button.mat-button-disabled.mat-button-disabled{
  color: rgb(0 0 0 / 42%) !important;
}
.dark-for-Child-Component .mat-form-field-label{
  color: inherit !important;
}
.Light-for-Child-Component {
  color: inherit !important;
}



.Light-for-Child-Component .mat-card-actions .mat-raised-button ,
  .dark-for-Child-Component .mat-card-actions .mat-raised-button {
  margin:0 !important;
}
.Light-for-Child-Component .mat-grid-tile,
  .dark-for-Child-Component .mat-grid-tile{
  background-color: inherit;
  margin:5px !important;
}

.Light-for-Child-Component ::ng-deep mat-card-title, mat-card-subtitle, .mat-form-field-label, mat-card-actions, form, mat-divider,
  .dark-for-Child-Component ::ng-deep mat-card-title, mat-card-subtitle, .mat-form-field-label, mat-card-actions, form, mat-divider{
  background-color: inherit !important;
  color:inherit !important;
}
.Light-for-Child-Component  .mat-form-field-empty.mat-form-field-label, .Light-for-Child-Component .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.Light-for-Child-Component   .mat-form-field-outline:not(.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick),
.dark-for-Child-Component .mat-form-field-empty.mat-form-field-label, .dark-for-Child-Component .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.dark-for-Child-Component  .mat-form-field-outline:not( .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick).Light-for-Child-Component .mat-card-subtitle,
.dark-for-Child-Component .mat-card-subtitle{
  color:inherit !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick:not( .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick){
  color: inherit !important
}
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick:not( .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick){
  color: #3f51b5 !important
}
.Light-for-Child-Component ::ng-deep .mat-card-actions .mat-button, .Light-for-Child-Component ::ng-deep .mat-card-actions .mat-raised-button,.Light-for-Child-Component ::ng-deep .mat-card-actions .mat-stroked-button,
  .dark-for-Child-Component ::ng-deep .mat-card-actions .mat-button,.dark-for-Child-Component ::ng-deep .mat-card-actions .mat-raised-button,.dark-for-Child-Component ::ng-deep .mat-card-actions .mat-stroked-button{
  margin: 0 !important;
}
.Light-for-Child-Component ::ng-deep mat-label,
.dark-for-Child-Component ::ng-deep mat-label{
  font-size: 14px !important;
  font-family: inherit !important;
}
/* .Light-for-Child-Component .mat-card,
.dark-for-Child-Component .mat-card{
  margin:0 !important;
} */

.space-between{
  justify-content: space-between !important;
}
.space-evenly{
  justify-content: space-evenly!important;
}
.Light-for-Child-Component .mat-form-field-appearance-outline .mat-form-field-outline:not( .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick),
.dark-for-Child-Component .mat-form-field-appearance-outline .mat-form-field-outline:not( .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick) {
  color: inherit !important;
}

/* .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: green !important;
}*/
.dark-for-Child-Component .mat-checkbox-frame{
  border-color: #e6e6e6;
}
.dark-for-Child-Component .mat-select-value, .dark-for-Child-Component .mat-select-arrow,
.Light-for-Child-Component .mat-select-value, .Light-for-Child-Component .mat-select-arrow,
.mat-form-field.mat-focused.mat-primary .mat-select-arrow{
  color: inherit;
}
.li
[dir="rtl"] mat-label,[dir="rtl"] .mat-checkbox-label{
  font-family: var(--Calibri) !important;
  font-weight: bold;
}

.mat-card-title{
  padding:10px;
}
mat-card.mat-card.mat-focus-indicator.dark-for-Child-Component , .dark-for-Body .mat-raised-button:not([class*=mat-elevation-z], .mat-raised-button.mat-button-disabled.mat-button-disabled){
  box-shadow: 0px 2px 2px 0px rgb(255 254 254 / 24%),
   0px 1px 1px 1px rgb(255 237 237 / 14%), 0px 1px 3px 1px rgb(255 236 236 / 12%) !important;
}
.mat-option-text{
  font-family: var(--Calibri);
  font-weight: bold;
}
.mat-select-panel button{
    border: none;
    background: blanchedalmond;
    cursor: pointer;
}
[dir="rtl"] .mat-button-wrapper{
  font-weight: bold;
}
.mat-select-panel input[type="search"]{
  padding: 10px;
  max-width: 95%;
}

.Light-for-Child-Component .mat-select-min-line, .dark-for-Child-Component .mat-select-min-line,
.Light-for-Child-Component .mat-input-element, .dark-for-Child-Component input, .dark-for-Child-Component textarea,
.Light-for-Child-Component textarea{
  font-family: 'Hacen Casablanca' !important;
}
.Light-for-Child-Component .mat-select-min-line, .Light-for-Child-Component input, .Light-for-Child-Component textarea{
  color: blue;
}
.dark-for-Child-Component .mat-select-min-line, .dark-for-Child-Component input, .dark-for-Child-Component textarea{
  color: #ffff00d2;
}
.mat-placeholder-required.mat-form-field-required-marker{
  color:red;
}
mat-form-field.mat-form-field.mat-form-field-type-mat-input.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-has-label.ng-untouched.ng-pristine.ng-valid *,
mat-form-field.mat-form-field.ng-tns-c95-5.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-has-label.ng-pristine.ng-valid.ng-star-inserted.mat-form-field-hide-placeholder.ng-touched{
  color: inherit !important;
}
.dark-for-Child-Component .mat-hint{
  color: #bcbbbb !important
}
/* form.ng-untouched.ng-pristine.ng-valid *, form.ng-pristine.ng-valid.ng-touched *{
  color:inherit !important;
} */
.dark-for-Child-Component .valid-green, .dark-for-Child-Component  .ng-valid div {
  color: #3cff46 !important;
}
/* .mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon {
  font-size: 231%;
  line-height: 1.125;
} */
.cdk-drag-preview {
  box-sizing: border-box;
  padding: 0 15px;
  position: relative;
}

.cdk-drag-preview::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 5px;
  border-radius: 4px;
  border: solid 1px rgba(0,0,0,0.4);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  color: transparent;
  position: relative;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 5px;
  border-radius: 4px;
  background: rgba(0,0,0,0.1);
  border: dashed 1px rgba(0,0,0,0.4);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-header-cell {
  cursor: pointer;
  border: dotted 3px transparent;
}
.mat-header-cell{
  font-family: var(--Hacen);
}
table {
  width: 100%;
}
.loading-shade {
  position: relative;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: #bebbeb9e;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 1px 1px 20px 7px white inset;
}

.table-container {
  position: relative;
  max-height: 400px;

  overflow: auto;
}

.table-outer-container{
  border-radius: 10px;
}
.mat-header-cell, .mat-sort-header-arrow{
  color:inherit !important;
}
.mat-divider {
  display: block;
  margin: 0;
  border-top-width: 3px;
  border-top-style: solid;
}
.mat-divider {
  border-top-color: rgb(255 255 255 / 41%);
}
.bg-gray{
  background-color: rgba(211, 211, 211, 0.639);
}
.LightRowSelection{
  background: #efefef;
}
.DarkRowSelection{
  background: black;
}
th[class^='mat-column']{
  border-right: white solid 2px !important;
}
td[class^='mat-column-id']{
  border-right: white solid 2px !important;
}
.DarkTableBg{
  background-color: #181d1f;
}
.LightTableBg{
  background-color: white;
}
.DarkTableBg .mat-cell, .DarkTableBg .mat-footer-cell, mat-paginator.DarkTableBg{
  color: white !important;
}

.LightTableBg .mat-cell, .LightTableBg .mat-footer-cell, mat-paginator.LightTableBg{
  color: #181d1f !important;
}

table td{
  font-family: var(--Calibri) !important;
}

[dir="rtl"] table td{
  font-weight: bold;
}
.DarkTableBg .mat-select-min-line{
  color:#ffff00d2 !important;
}
.LightTableBg .mat-select-min-line{
  color: blue !important;
}
.DarkTableBg .mat-select-arrow-wrapper{
  color:white !important;
}
.LightTableBg .mat-select-arrow-wrapper{
  color: #181d1f !important;
}
mat-paginator{
  border-radius: 0 0 10px 10px;
}
.TablefilterDiv{
  border-radius: 10px 10px 0 0;
}
.mat-cell,
.mat-header-cell {
  padding: 0 5px 0 5px;
  text-align: center !important;
}
tr.mat-row{
  display: table-row;
  height: 2.3rem !important;
}
table th:not(.mat-calendar-body-cell), table td:not(.mat-calendar-body-cell){
  padding: 0 5px 0 5px !important;
}
.badge{
  display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.badge-success {
  color: #fff;
  background-color: #28a745;
}
.badge-primary {
  color: #fff;
  background-color: #007bff;
}
.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}
.badge-danger {
  color: #fff;
  background-color: #dc3545;
}
.badge-warning {
  color: #212529;
  background-color: #ffc107;
}
.badge-info {
  color: #fff;
  background-color: #17a2b8;
}
.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}
.badge-dark {
  color: #fff;
  background-color: #343a40;
}
table th div{
  justify-content: center;
}
table tr{
  text-align: center;
}
.mat-paginator-range-label{
  direction: ltr !important;
}
.mat-column-Delete, .mat-column-Edit{
  width:1%;
}
.mat-column-addedBy_UserName{
  width:8%;
}

.mat-column-isActive{
width:6%;
}

.mat-column-id{
max-width:100px !important;
}
.mat-column-notes{
  width: 25% !important;
  overflow-wrap:break-word;
}


.TablefilterDiv{
  height: 50px;
}
.DarkTableBg.TablefilterDiv, .DarkTableBg.TablefilterDiv .SearchTable{
  color:#e6e6e6;
}
.TablefilterDiv .SearchTable input{
  border: none;
  outline: none;
  border-radius: 50px;
  margin: 0 10px;
  font-family: var(--Hacen);
}
.SearchTable .mat-icon{
  margin:0 3px !important;
}
.DarkTableBg .SearchTable .mat-icon, .DarkTableBg .SearchTable input{
  color:#181d1f;
}
.TablefilterDiv .SearchTable input{
  background: none;
}
.TablefilterDiv .SearchTable{
  border-radius: 30px;
  height: 40px;
}
/* .DarkTableBg.TablefilterDiv .SearchTable{
  border: 2px solid #e6e6e6;
} */
/* .LightTableBg.TablefilterDiv .SearchTable{
  border: 2px solid #181d1f;
} */
.LightTableBg.TablefilterDiv{
  background-color: rgb(235, 235, 235);
}
.LightTableBg.TablefilterDiv .SearchTable{
  background-color: white;
}
.DarkTableBg.TablefilterDiv .SearchTable{
  background-color: lightgray;
}
[dir="rtl"] .SearchTable{
  margin-right: 50px;
}
[dir="ltr"] .SearchTable{
  margin-left: 50px;
}
.LightTableBg.TablefilterDiv,
.LightTableBg.TablefilterDiv input{
  color:#1a202e;
}
 /* [dir='rtl'] .TablefilterDiv span{
  font-family: var(--Calibri);
  font-weight: bold;
  margin: 0 10px;
} */
.TablefilterDiv button span{
  font-weight: normal !important;
} 
.mat-paginator-range-label{
  width:100px;
}

.paginator-Buttons{
  border: none;
  width:25px;
  border-radius: 6px;
  cursor: pointer;
}
mat-paginator .mat-icon-button{
  line-height: 0 !important;
  height: 30px!important;
  width: 30px !important;
  border-radius: 50px !important;
  background-color: rgb(92, 119, 255) !important;
}
mat-paginator .mat-icon-button.mat-button-disabled, button.paginator-Buttons:disabled{
  color:white;
  background-color: rgb(107, 107, 107) !important;
  cursor: initial;
}
.mat-paginator-container{
  justify-content: center !important;
}

.TableSettingsMenu.mat-menu-item{
  line-height: 0;
  height: max-content;
}
.mat-paginator-icon{
  transform: none !important;
}
.dark-for-Child-Component mat-form-field.mat-form-field.ng-untouched.ng-pristine.ng-valid, .mat-checkbox.ng-untouched.ng-pristine.ng-valid label span.mat-checkbox-label{
  color: #e6e6e6 !important;
}
.Light-for-Child-Component mat-form-field.mat-form-field.ng-untouched.ng-pristine.ng-valid, .mat-checkbox.ng-untouched.ng-pristine.ng-valid label span.mat-checkbox-label{
  color: #1a202e !important;
}
::ng-deep .cdk-overlay-pane {
  top: 48px!important;
}
[dir="rtl"] label{
  font-family: var(--Calibri) !important;
  font-weight: bold;
}
.mat-checkbox fa-icon{
  padding: 10px;
}

.swal2-container{
  font-family: var(--NotoSansArabic) !important;
}
h2#swal2-title{
  font-family: var(--Almarai) !important;
  font-size: 1.9rem;
  color:#007bff;
}
.LightTableBg
 tr:not(.details-Row):hover {
  background: whitesmoke;
}

.LightTableBg tr:not(.details-Row):active {
  background: #efefef;
}
.DarkTableBg
 tr:not(.details-Row):hover {
  background: rgb(51, 51, 51);
}

.DarkTableBg tr:not(.details-Row):active {
  background: rgb(44, 44, 44);;
}
.rtl{
  direction: rtl;
}
.ltr{
  direction: ltr;
}
.SwalHtmlContent{
  font:inherit;
  font-weight: normal;
  font-size:1.9rem !important;
}
.SwalErrorTitle{
  color: #f44336 !important;
}
.SwalWarningTitle{
  color: #ffc107 !important;
}
.mat-bottom-sheet-container{
  padding:0 !important;
  max-height: 100vh !important;
}
.mat-step-label {
  color: inherit !important;
}

.mat-step-label{
  font-size:1.2rem;
  font-family: "Hacen Casablanca";
}
.mat-optgroup-label{
  background-color: ghostwhite;
  font: inherit;
  font-weight: bold;
}

.led-yellow {
  color: #FF0;
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  /* -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite; */
}

@-webkit-keyframes blinkYellow {
    from { color: #FF0; }
    50% { color: #AA0; text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { color: #FF0; }
}
@-moz-keyframes blinkYellow {
    from { color: #FF0; }
    50% { color: #AA0; text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { color: #FF0; }
}
@-ms-keyframes blinkYellow {
    from { color: #FF0; }
    50% { color: #AA0; text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { color: #FF0; }
}
@-o-keyframes blinkYellow {
    from { color: #FF0; }
    50% { color: #AA0; text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { color: #FF0; }
}
@keyframes blinkYellow {
    from { color: #FF0; }
    50% { color: #AA0; text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { color: #FF0; }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
