/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-spacer {
  flex: 1 1 auto;
}
.Width100{
    width:100%
}
.b-white{
    border-color: white !important;
}
.float-right{
    float:right;
}
.pointerCursor{
    cursor: pointer;
}
.dialog-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}
.mat-dialog-title {
  width: 90%;
  border-bottom: 2px solid black;
  font-weight: bold !important;
}
form p{
    margin-top:18px !important;
}
.subdomain {
  /*width: 100%;*/
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-items: center;
  
}

.Overflow-x-hidden {
  overflow-x: hidden !important;
}
.OwnerRegisterDialog {
  max-width:100vw !important;
}
.OwnerRegisterDialog .mat-dialog-container {
    width: 100vw !important;
    height: 100vh !important;
}
.ClientRegisterDialog {
  max-width: 100vw !important;
}
.ClientRegisterDialog .mat-dialog-container {
  width: 100vw !important;
  height: 100vh !important;
}

.closeIcon {
  border: 2px solid;
}
.closeIcon:hover{
  border: 2px solid;
  background-color: black;
  color:white;
  cursor: pointer;
}


