<router-outlet>
  <div class="container">
    <button mat-raised-button color="primary" (click)="GoToHome()">
      <mat-icon>arrow_left</mat-icon>
      Back
    </button>
    <h1>Internal server error - refreshing the page will make the error disappear!</h1>
    <ng-container *ngIf="error">
      <h2 class='text-danger'>Error: {{error.message}}</h2>
      <p><strong>Note: If you are seeing this then Angular is probably not to blame</strong></p>
      <p>What to do next?</p>
      <ol>
        <li>Open the chrome dev tools</li>
        <li>Inspect the network tab</li>
        <li>Check the failing request</li>
        <li>Examine the request URL - make sure it is correct</li>
        <li>Reproduce the error in Postman - if we see the same response, then the issue is not with Angular</li>
      </ol>
      <p>Following is the stack trace - this is where your investigation should start!</p>
      <code class="marginTop-5">{{error.details}}</code>
    </ng-container>
  </div>
</router-outlet>
