<form [formGroup]="loginForm" (ngSubmit)="loginForm.valid">
  <div class="form-container">
    <div class="dialog-header">
      <h2 mat-dialog-title>
        Login
      </h2>
      <mat-icon tabindex="-1" class="pointerCursor closeIcon float-right"
                matRipple (click)="dialogHandler.CloseDialog()">close</mat-icon>
    </div>
    <!------------------------Mat-Dialog-CONTENT--------------------------->
    <div mat-dialog-content>
      <!-- Email -->
      <mat-form-field appearance="outline" class="Width100">
        <mat-label [ngClass]="ValidationErrorMessage.getFormControl('Email', loginForm).valid?
                   'valid-green':''">Email</mat-label>
        <input matInput type="email" value="" formControlName="Email"
               [errorStateMatcher]="customErrorStateMatcher"
               [ngClass]="loginForm.get('Email')?.valid? 'valid-color':''" />
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint align="end" *ngIf="ValidationErrorMessage.getFormControl('Email', loginForm).invalid
                  || !ValidationErrorMessage.getFormControl('Email', loginForm).value">Enter your email</mat-hint>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Email', loginForm).hasError('required')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Email', 'required')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Email', loginForm).hasError('email')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Email', 'email')"></mat-error>
      </mat-form-field>
      <!-- Password -->
      <mat-form-field appearance="outline" class="Width100"
                      [ngClass]="ValidationErrorMessage.getFormControl('Password', loginForm).invalid &&
                      ValidationErrorMessage.getFormControl('Password', loginForm).value? 'password':''">
        <mat-label [ngClass]="ValidationErrorMessage.getFormControl('Password', loginForm).valid? 'valid-green':''">Password</mat-label>
        <input matInput value="" autocomplete="current-password"
               [errorStateMatcher]="customErrorStateMatcher"
               [type]="passwordHide ? 'password' : 'text'"
               formControlName="Password" /><!-- Input -->
        <mat-icon matSuffix class="pointerCursor"
                  (click)="passwordHide = !passwordHide">{{passwordHide? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint align="end" *ngIf="ValidationErrorMessage.getFormControl('Password', loginForm).invalid
                  || !ValidationErrorMessage.getFormControl('Password', loginForm).value">Enter your password</mat-hint>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password', loginForm).hasError('required')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password', 'required')"></mat-error>
      </mat-form-field>
    </div>
    <!-- Fogrget Password -->
    <button class="buttonLink">Forget password?</button>
    <!------------------------Mat-Dialog-actions--------------------------->
    <div mat-dialog-actions>
      <button mat-raised-button color="primary"
              (ngSubmit)="Login(ValidationErrorMessage.getFormControl('RememberMe', loginForm).value)"
              [disabled]="loginForm.invalid" class="Width100" aria-label="press to login"
              (click)="Login(ValidationErrorMessage.getFormControl('RememberMe', loginForm).value)">>
        <mat-icon>login</mat-icon>
        Login
      </button>
    </div>
    <!--End Mat-Dialog-actions-->
  </div>
  <p>Don't have Account?'
  <button class="buttonLink" (click)="dialogHandler.CloseDialog(); dialogHandler.OpenOwnerRegisterDialog();">
      Create one
  </button>
  </p>
</form>
