<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <button mat-stroked-button class="b-white" aria-label="Example icon-button with heart icon" (click)="OnLoginClick()">
    <mat-icon>login</mat-icon>
    Login
  </button>&nbsp;
  <button mat-stroked-button class="b-white" aria-label="Example icon-button with share icon">
    <mat-icon>app_registration</mat-icon>
    Register
  </button>
</mat-toolbar>
