<form [formGroup]="ResetForm" (ngSubmit)="ResetForm.valid">
  <div class="form-container">
    <div class="dialog-header">
      <h2 mat-dialog-title>Reset Password</h2>
      <mat-icon tabindex="-1" class="closeIcon pointerCursor float-right"
                matRipple (click)="dialogHandler.CloseDialog()">close</mat-icon>
    </div>
    <!------------------------Mat-Dialog-CONTENT--------------------------->
    <div mat-dialog-content class="Overflow-x-hidden">
      <!--Server validtion errors-->
      <ng-container *ngIf="Success">
        <h1 class="alert alert-success">Email confirmaed successfully</h1>
        <h2>You can now <a class="buttonLink" (click)="dialogHandler.OpenClientLoginDialog()">login</a></h2>
      </ng-container>

      <ng-container *ngIf="Fail">
        <h1 class="alert alert-danger">Email Confirmation failed</h1>
        <mat-error class="alert alert-danger" *ngIf="ValidationErrors.length>0">
          <p>Please Correct the following errors</p>
          <ul>
            <li *ngFor="let error of ValidationErrors">
              <p *ngIf="error.status === 'ResetPassword'">
                {{error.error[0].description}} <span *ngIf="error.status == 'ResetPassword'">To send Password reset link again, <a class='buttonLink' (click)='OnSubmit()'>Click here.</a></span>
              </p>
            <p *ngIf="error.status !== 'ResetPassword'">
              {{error}} 
            </p>
            </li>
          </ul>
        </mat-error>
      </ng-container>
      <!-- Password -->
      <mat-form-field appearance="outline" class="Width100"
                      [ngClass]="ValidationErrorMessage.getFormControl('Password', ResetForm).invalid
                      &&ValidationErrorMessage.getFormControl('Password', ResetForm).value? 'password':''">
        <mat-label [ngClass]="ValidationErrorMessage.getFormControl('Password', ResetForm).valid?
                   'valid-green':''">Password</mat-label>
        <input matInput value=""
               [errorStateMatcher]="customErrorStateMatcher"
               autocomplete="current-password"
               [type]="passwordHide ? 'password' : 'text'"
               formControlName="Password" /><!-- Input -->
        <mat-icon matSuffix class="pointerCursor"
                  (click)="passwordHide = !passwordHide">
          {{passwordHide? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-hint align="end"
                  *ngIf="ValidationErrorMessage.getFormControl('Password', ResetForm).invalid
                  || !ValidationErrorMessage.getFormControl('Password', ResetForm).value">Enter your password</mat-hint>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password', ResetForm).hasError('required')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password', 'required')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password', ResetForm).hasError('hasNumber')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password', 'hasNumber')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password', ResetForm).hasError('hasCapitalCase')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password', 'hasCapitalCase')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password', ResetForm).hasError('hasSmallCase')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password', 'hasSmallCase')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password', ResetForm).hasError('minlength')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password', 'minlength')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password', ResetForm).hasError('hasSpecialCharacters')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password', 'hasSpecialCharacters')"></mat-error>
      </mat-form-field>
      <!-- confirm password -->
      <mat-form-field appearance="outline" class="Width100">
        <mat-label [ngClass]="ValidationErrorMessage.getFormControl('ConfirmPassword', ResetForm).valid?
                   'valid-green':''">Confirm Password</mat-label>
        <input matInput value="" [type]="confirmPasswordHide ? 'password' : 'text'"
               [errorStateMatcher]="customErrorStateMatcher"
               formControlName="ConfirmPassword" /><!-- Input -->
        <mat-icon matSuffix class="pointerCursor"
                  (click)="confirmPasswordHide = !confirmPasswordHide">
          {{confirmPasswordHide? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-hint align="end">Enter your password again</mat-hint>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('ConfirmPassword', ResetForm).hasError('required')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('ConfirmPassword', 'required')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('ConfirmPassword', ResetForm).hasError('NoPassswordMatch')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('ConfirmPassword', 'NoPassswordMatch')"></mat-error>
      </mat-form-field>
    </div>
    <!------------------------Mat-Dialog-actions--------------------------->
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (submit)="ResetForm.valid" [disabled]="ResetForm.invalid"
              class="Width100" aria-label="press to login"(click)="PasswordReset()" (ngSubmit)="PasswordReset()">
        Reset Password
      </button>
    </div>
    <!--End Mat-Dialog-actions-->
  </div>
</form>
{{ResetForm.value | json}}
