<form [formGroup]="ResetForm" (ngSubmit)="ResetForm.valid" [dir]="selected&&translate.isRightToLeft(selected)?'rtl':'ltr'">
  <div class="form-container">
    <div class="dialog-header">
      <h2 mat-dialog-title>{{'Reset Password'|translate}}</h2>
      <mat-icon tabindex="-1" class="closeIcon pointerCursor float-right"
                matRipple (click)="dialogHandler.CloseDialog()">close</mat-icon>
    </div>
    <!------------------------Mat-Dialog-CONTENT--------------------------->
    <div mat-dialog-content class="Overflow-x-hidden">
      <!--Server validtion errors-->
      <ng-container *ngIf="Success">
        <h1 class="alert alert-success">{{'CorrectEmailConfirmation'|translate}}</h1>
        <h2>You can now <a class="buttonLink" (click)="dialogHandler.OpenClientLoginDialog()">{{'Login'|translate}}</a></h2>
      </ng-container>

      <ng-container *ngIf="Fail">
        <h1 class="alert alert-danger">{{'WrongEmailConfirmation'|translate}}</h1>
        <mat-error class="alert alert-danger" *ngIf="ValidationErrors.length>0">
          <p>Please Correct the following errors</p>
          <ul>
            <li *ngFor="let error of ValidationErrors">
              <p *ngIf="error.status === 'ResetPassword'">
                {{error.error[0].description}} <span *ngIf="error.status == 'ResetPassword'">To send Password reset link again, <a class='buttonLink' (click)='OnSubmit()'>Click here.</a></span>
              </p>
              <p *ngIf="error.status !== 'ResetPassword'">
                {{error}}
              </p>
            </li>
          </ul>
        </mat-error>
      </ng-container>
      <!-- Password -->
      <mat-form-field appearance="outline" class="Width100"
                      [ngClass]="ValidationErrorMessage.getFormControl('Password',
        ResetForm).invalid
        &&ValidationErrorMessage.getFormControl('Password', ResetForm).value?
        'password':''">
        <mat-label [ngClass]="ValidationErrorMessage.getFormControl('Password',
          ResetForm).valid?
          'valid-green':''">{{'Password'|translate}}</mat-label>
        <input matInput value=""
               [errorStateMatcher]="customErrorStateMatcher"
               autocomplete="current-password"
               [type]="passwordHide ? 'password' : 'text'"
               formControlName="Password" /><!-- Input -->
        <mat-icon matSuffix class="pointerCursor"
                  (click)="passwordHide= !passwordHide">
          {{passwordHide? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-hint align="end"
                  *ngIf="ValidationErrorMessage.getFormControl('Password',
          ResetForm).invalid || !ValidationErrorMessage.getFormControl('Password',
          ResetForm).value">{{'PasswordHint'|translate}}</mat-hint>
        <!-- required -->
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password',
          ResetForm).hasError('required')&& selected==='en'"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password',
          'required')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password',
          ResetForm).hasError('required') && selected==='ar'">
          {{'PasswordRequired'|translate}}
        </mat-error>
        <!-- hasnumber -->
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password',
          ResetForm).hasError('hasNumber') && selected==='en'"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password',
          'hasNumber')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password',
          ResetForm).hasError('hasNumber')&& selected==='ar'">
          {{'PasswordHasNumber'|translate}}
        </mat-error>
        <!-- hasCapitalCase -->
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password',
          ResetForm).hasError('hasCapitalCase')&& selected==='en'"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password',
          'hasCapitalCase')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password',
          ResetForm).hasError('hasCapitalCase') && selected==='ar'">
          {{'PasswordhasCapitalCase'|translate}}
        </mat-error>
        <!--  hasSmallCase-->
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password',
          ResetForm).hasError('hasSmallCase')&& selected==='en'"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password',
          'hasSmallCase')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password',
          ResetForm).hasError('hasSmallCase')&& selected==='ar'">
          {{'PasswordhasSmallCase'|translate}}
        </mat-error>
        <!-- minlength -->
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password',
          ResetForm).hasError('minlength')&& selected==='en'"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password',
          'minlength')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password',
          ResetForm).hasError('minlength')&& selected==='ar'">
          {{'Passwordminlength'|translate}}
        </mat-error>
        <!-- hasSpecialCharacters -->
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password',
          ResetForm).hasError('hasSpecialCharacters')&& selected==='en'"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password',
          'hasSpecialCharacters')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password',
          ResetForm).hasError('hasSpecialCharacters')&& selected==='ar'">
          {{'PasswordhasSpecialCharacters'|translate}}
        </mat-error>
      </mat-form-field>
      <!-- confirm password -->
      <mat-form-field appearance="outline" class="Width100">
        <mat-label [ngClass]="ValidationErrorMessage.getFormControl('ConfirmPassword',
          ResetForm).valid?
          'valid-green':''">{{'Confirm Password'|translate}}</mat-label>
        <input matInput value="" [type]="confirmPasswordHide ? 'password' :
          'text'"
               [errorStateMatcher]="customErrorStateMatcher"
               formControlName="ConfirmPassword" /><!-- Input -->
        <mat-icon matSuffix class="pointerCursor"
                  (click)="confirmPasswordHide= !confirmPasswordHide">
          {{confirmPasswordHide? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-hint align="end">{{'ConfirmPasswordHint'|translate}}</mat-hint>
        <!-- required -->
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('ConfirmPassword',
          ResetForm).hasError('required')&& selected==='en'"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('ConfirmPassword',
          'required')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('ConfirmPassword',
          ResetForm).hasError('required') && selected==='ar'">
          {{'ConfirmPasswordRequired'|translate}}
        </mat-error>
        <!-- NoPassswordMatch -->
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('ConfirmPassword',
          ResetForm).hasError('NoPassswordMatch')&& selected==='en'"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('ConfirmPassword',
          'NoPassswordMatch')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('ConfirmPassword',
          ResetForm).hasError('NoPassswordMatch')&& selected==='ar'">
          {{'ConfirmPasswordNoPassswordMatch'|translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <!------------------------Mat-Dialog-actions--------------------------->
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (submit)="ResetForm.valid" [disabled]="ResetForm.invalid"
              class="Width100" aria-label="press to reset password" (click)="PasswordReset()" (ngSubmit)="PasswordReset()">
        {{'Submit'|translate}}
      </button>
    </div>
    <!--End Mat-Dialog-actions-->
  </div>
</form>
{{ResetForm.value | json}}
