mat-card{
  width: 288px;
}
.BusinessName{
  font-size: 30px;
  margin:20px !important;
  font-family: fantasy;
}
mat-card-title, .BusinessName, mat-card-subtitle{
  text-align: center;
}

[dir="rtl"] mat-card-title,[dir="rtl"] mat-card-subtitle{
  font-family: var(--Scheherazade);
  font-weight: bold;

}
