<mat-sidenav-container hasBackdrop="false" [dir]="IsRTL?'rtl':'ltr'">
  <!-- --------------------------------------------------------------------------------------
     ----------------------------------- Half Closed ----------------------------
     ------------------------------------------------------------------------------------->
  <mat-sidenav mode="side" opened="true"
    (mouseover)="OnMouseOver()" (mouseleave)="OnMouseLeave()"
    [ngClass]="ToggleClass+ ' ' + SidenavThemeClass"
    fxLayout="column">
    <mat-nav-list fxLayout="row" fxLayoutAlign="space-between center">
      <a [class]="Constants.CSS_Dashboard_Sidenav_CompmanyName + ' ' + Display"
        fxFlex="1 2 90%"
        [routerLink]="['','app']">KH-ERP</a>
      <button [matTooltip]="pinned?'Close sidebar':'Fix sidebar'"
        matTooltipPosition="right"
        [matTooltipClass]="Constants.CSS_Dashboard_ToolTip"
        mat-icon-button
        (click)="PinSideNav()"
        [class]="pinned?'':Constants.CSS_Openned_pin">
        <mat-icon>
          push_pin
        </mat-icon>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <!-- --------------------------------------------------------------------------------------
     ----------------------------------- Settings nav ----------------------------
     ------------------------------------------------------------------------------------->
  <mat-sidenav mode="over" #sideNav position="end"
    fxLayout="column" [class]="Constants.CSS_SideNav_FullOpened + ' '
    +SidenavThemeClass">
    <button mat-icon-button [class]="Constants.CSS_smallCloseIcone"
      [disableRipple]="true">
      <mat-icon (click)="sideNav.toggle()"><span
          class="material-icons-outlined">cancel</span></mat-icon>
    </button>
    <mat-nav-list [class]="Constants.CSS_padding_10">
      <div mat-list-item>
        <h3>Theme settings</h3>

        <p>
          Theme appearance:
          <mat-button-toggle-group [formControl]="ThemeAppearence"
            name="ThemeAppearence"
            aria-label="Theme Appearence">
            <mat-button-toggle value="light" disableRipple
              (click)="DarkOrLight()" [checked]="BodyThemeClass==='light'?true:
              false">Light</mat-button-toggle>
            <mat-button-toggle value="dark" disableRipple
              (click)="DarkOrLight()" [checked]="BodyThemeClass==='dark'?true:
              false">Dark</mat-button-toggle>
          </mat-button-toggle-group>
        </p>
        <p>
          Sidebar appeareance:
          <mat-button-toggle-group name="SidebarAppeareance"
            aria-label="Sidebar
            appeareance">
            <mat-button-toggle value="Light" disableRipple>Light</mat-button-toggle>
            <mat-button-toggle value="Dark" disableRipple>Dark</mat-button-toggle>
          </mat-button-toggle-group>
        </p>
        <p>Theme colors</p>
        <p fxLayout="row wrap" fxLayoutAlign="start center"
          fxLayoutGap="3px"
          #themeColorPicker>

          <button mat-icon-button *ngFor="let x of ThemeColors; let i=
            index"
            [value]="x.value" (click)="ColorChoose(x.colorName, i);"
            [ngStyle]="{'background-color':
            x.value}"><mat-icon class="mat-18">{{x.choosen?'check':''}}</mat-icon></button>
        </p>
      </div>
      <div>
        <h3>Layout settings</h3>
        <mat-slide-toggle color="primary" disableRipple (click)="RTLToggle()">RTL</mat-slide-toggle>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <!-- --------------------------------------------------------------------------------------
     ----------------------------------- Content -----------------------------------------
     ------------------------------------------------------------------------------------->
  <mat-sidenav-content
    [class]="SideNav_Content_class">

    <!-- Toolbar -->
    <mat-toolbar class="{{Constants.CSS_light_White_bg}} mat-elevation-z3"
      fxLayout="row" [class]="ToolbarThemeClass"
      fxLayoutAlign="space-between center">
      <div fxLayoutAlign="center center">
        <button mat-raised-button color="primary">Add new</button>
      </div>
      <!-- second Div -->
      <div fxLayoutAlign="center center" fxLayoutGap="3px">
        <button mat-icon-button (click)="ToggleFullscreen()">
          <mat-icon><span class="material-icons-outlined">
              {{FullscreenEnabled?'fullscreen_exit':'fullscreen'}}
            </span></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon><span class="material-icons-outlined">
              notifications_active
            </span></mat-icon>
        </button>

        <button mat-icon-button><img class="mat-elevation-z5"
            [class]="Constants.CSS_userIconImage"
            src="../../../../../assets/user.jpg"
            width="32" height="32" />
        </button>

        <button mat-icon-button (click)="sideNav.toggle()">
          <mat-icon><span class="material-icons-outlined">
              settings
            </span></mat-icon>
        </button>

      </div>
    </mat-toolbar>
    <router-outlet [class]="BodyThemeClass"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
