<mat-sidenav-container [hasBackdrop]="hasBackDrop" [dir]="dir">
  <!-- --------------------------------------------------------------------------------------
     ----------------------------------- Half Closed ----------------------------
     ------------------------------------------------------------------------------------->
  <mat-sidenav [mode]="SideNav_mode" [opened]="SideNav_openingStatus" #SideNav (mouseover)="OnMouseOver()"
    (mouseleave)="OnMouseLeave()" [ngClass]="ToggleClass+ ' ' +'menuSideNav' +' ' + SidenavThemeClass"
    fxLayout="column">
    <mat-nav-list fxLayout="row" fxLayoutAlign="space-between center">
      <a [class]="Constants.CSS_Dashboard_Sidenav_CompmanyName + ' ' + Display" fxFlex="1 2 90%"
        [routerLink]="['','app']">KH-ERP</a>
      <button [matTooltip]="pinned?translate.GetTranslation(Constants.CloseSidebar):
        translate.GetTranslation(Constants.FixSidebar)" [matTooltipPosition]="dir==='ltr'?'right':'left'"
        [matTooltipClass]="Constants.CSS_Dashboard_ToolTip" mat-icon-button (click)="PinSideNav()"
        [class]="pinned?'':Constants.CSS_Openned_pin" #pinButton>
        <mat-icon>
          push_pin
        </mat-icon>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <!-- --------------------------------------------------------------------------------------
     ----------------------------------- Settings nav ---------------------------------------
     ---------------------------------------------------------------------------------------->
  <mat-sidenav mode="over" #sideNav position="end" [dir]="translate.isRightToLeft(SelectedLanguage)?'rtl':'ltr'"
    fxLayout="column" [class]="Constants.CSS_SideNav_FullOpened + ' '
    + SidenavThemeClass + ' ' + 'WidthForSmallScreens'">
    <button mat-icon-button [class]="Constants.CSS_smallCloseIcone" [disableRipple]="true">
      <mat-icon (click)="sideNav.toggle()"><span class="material-icons-outlined">cancel</span></mat-icon>
    </button>
    <mat-nav-list [class]="Constants.CSS_padding_10">
      <div mat-list-item>
        <h3>{{"Theme settings"|translate}}</h3>
        <p>{{"General appearance"|translate}}</p>
        <p>
          <mat-button-toggle-group [formControl]="ThemeAppearence" name="ThemeAppearence"
            (change)="AllThemeDarkOrLight(ThemeAppearence.value)" aria-label="Theme Appearence">
            <mat-button-toggle value="light" disableRipple>{{"Light"|translate}}</mat-button-toggle>
            <mat-button-toggle value="dark" disableRipple>{{"Dark"|translate}}</mat-button-toggle>
          </mat-button-toggle-group>
        </p>
        <p>{{"Sidebar appeareance"|translate}}</p>
        <p>
          <mat-button-toggle-group name="SidebarAppeareance" aria-label="Sidebar appeareance"
            (change)="SidebarAppeareanceToggle(SidebarAppeareance.value)" [formControl]="SidebarAppeareance">
            <mat-button-toggle value="light" disableRipple>{{"Light"|translate}}</mat-button-toggle>
            <mat-button-toggle value="dark" disableRipple>{{"Dark"|translate}}</mat-button-toggle>
          </mat-button-toggle-group>
        </p>
        <p>{{"Toolbar appeareance"|translate}}</p>
        <p>
          <mat-button-toggle-group name="ToolbarAppeareance" aria-label="Toolbar appeareance"
            (change)="ToolbarAppeareanceToggle(ToolbarAppeareance.value)" [formControl]="ToolbarAppeareance">
            <mat-button-toggle value="light" disableRipple>{{"Light"|translate}}</mat-button-toggle>
            <mat-button-toggle value="dark" disableRipple>{{"Dark"|translate}}</mat-button-toggle>
          </mat-button-toggle-group>
        </p>
        <p>{{"Content appeareance"|translate}}</p>
        <p>
          <mat-button-toggle-group name="Body Appeareance" aria-label="Content appeareance"
            (change)="BodyAppeareanceToggle(BodyAppeareance.value)" [formControl]="BodyAppeareance">
            <mat-button-toggle value="light" disableRipple>{{"Light"|translate}}</mat-button-toggle>
            <mat-button-toggle value="dark" disableRipple>{{"Dark"|translate}}</mat-button-toggle>
          </mat-button-toggle-group>
        </p>
        <p>{{"Theme colors"|translate}}</p>
        <p fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="3px" #themeColorPicker>
          <button mat-icon-button *ngFor="let x of ThemeColors; let i=
            index" [value]="x.value" (click)="ColorChoose(x.colorName, i);" [class]="x.bg">
            <mat-icon class="mat-18">{{x.colorName===ChoosenThemeColor.colorName?'check':''}}</mat-icon>
          </button>
        </p>
      </div>
      <div>
        <h3>{{"Layout settings"|translate}}</h3>
        <mat-button-toggle-group name="DocumentDirection" aria-label="Document Direction" dir="ltr"
          (change)="DocumentDirectionToggle(this.DocumentDirection.value)" [formControl]="DocumentDirection">
          <mat-button-toggle value="ltr" disableRipple [matTooltip]="translate.GetTranslation(Constants.Layout_LTR)"
            [matTooltipPosition]="dir==='ltr'?'right':'left'" [matTooltipClass]="Constants.CSS_Dashboard_ToolTip">
            <mat-icon class="mat-18"><span class="material-icons-outlined">
                align_horizontal_left
              </span></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="rtl" disableRipple [matTooltip]="translate.GetTranslation(Constants.Layout_RTL)"
            [matTooltipPosition]="dir==='ltr'?'right':'left'" [matTooltipClass]="Constants.CSS_Dashboard_ToolTip">
            <mat-icon class="mat-18"><span class="material-icons-outlined">
                align_horizontal_right
              </span></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <!-- --------------------------------------------------------------------------------------
     ----------------------------------- Content -----------------------------------------
     ------------------------------------------------------------------------------------->
  <mat-sidenav-content #SideNavContent [class]="SideNav_Content_class + ' ' + BodyThemeClass + ' ' + 'sideNavContent'">

    <!-- Toolbar -->
    <mat-toolbar [class]="ToolbarThemeClass + ' ' + 'mat-elevation-z3'" fxLayout="row"
      fxLayoutAlign="space-between center">
      <!-- First Div -->

      <div fxLayoutAlign="center center">
        <button mat-icon-button #SideNavToggleButtonOnSmallScreen>
          <mat-icon class="mat-18" (click)="SideNav.toggle()">menu</mat-icon>
        </button>
        <button mat-raised-button [ngClass]="ChoosenThemeColor.bg" [class]="ChoosenThemeColor.colorName==='organge'||ChoosenThemeColor.colorName==='amber'?Constants.CSS_dark_color:
          Constants.CSS_text_white">{{"Add New"|translate}}</button>
        <!-- Language selector -->
        <button mat-icon-button aria-label="menu toggle"
          [matTooltip]="translate.GetTranslation(Constants.ChooseYourLang)"
          [matTooltipPosition]="dir==='ltr'?'right':'left'" [matTooltipClass]="Constants.CSS_Dashboard_ToolTip"
          [matMenuTriggerFor]="LangSelector" dir="ltr">
          <mat-icon>language</mat-icon>
          <mat-menu #LangSelector>
            <a mat-menu-item *ngFor="let code of translate.getLangs()" (click)="switchLang(code)">
              {{ translate.NameByCode(code) | titlecase }}
            </a>
          </mat-menu>
        </button>
      </div>
      <!-- second Div -->
      <div fxLayoutAlign="center center" fxLayoutGap="3px">
        <button mat-icon-button (click)="ToggleFullscreen()" [matTooltip]="FullscreenEnabled?translate.GetTranslation(Constants.FullscreenMode_exit):
          translate.GetTranslation(Constants.FullscreenMode_enable)" [matTooltipPosition]="dir==='ltr'?'right':'left'"
          [matTooltipClass]="Constants.CSS_Dashboard_ToolTip" #FullscreenButton>
          <mat-icon><span class="material-icons-outlined">
              {{FullscreenEnabled?'fullscreen_exit':'fullscreen'}}
            </span></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon><span class="material-icons-outlined">
              notifications_active
            </span></mat-icon>
        </button>

        <button mat-icon-button><img class="mat-elevation-z5" [class]="Constants.CSS_userIconImage"
            src="../../../../../assets/user.jpg" width="32" height="32" />
        </button>

        <button mat-icon-button (click)="sideNav.toggle()">
          <mat-icon><span class="material-icons-outlined">
              settings
            </span></mat-icon>
        </button>

      </div>
    </mat-toolbar>
    <router-outlet [class]="BodyThemeClass"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
