<form [formGroup]="RegisterForm" (ngSubmit)="RegisterForm.valid">
  <div class="form-container">
    <div class="dialog-header">
      <h2 mat-dialog-title>
        Create account
      </h2>
      <mat-icon tabindex="-1" class="closeIcon pointerCursor float-right" matRipple (click)="dialogHandler.CloseDialog()">close</mat-icon>
    </div>
    <!------------------------Mat-Dialog-CONTENT--------------------------->
    <div mat-dialog-content class="Overflow-x-hidden">
      <!--Server validtion errors-->
      <mat-error class="alert alert-danger" *ngIf="ValidationErrors.length>0">
        <p>Please Correct the following errors</p>
        <ul>
          <li *ngFor="let error of ValidationErrors">{{error}}</li>
        </ul>
      </mat-error>
      <!-- Username -->
      <mat-form-field appearance="outline" class="Width100">
        <mat-label [ngClass]="ValidationErrorMessage.getFormControl('Username', RegisterForm).valid? 'valid-green':''">Username</mat-label>
        <input matInput type="text" value="" formControlName="Username"
               [errorStateMatcher]="customErrorStateMatcher"/>
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint align="end">Enter your username</mat-hint>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Username', RegisterForm).hasError('required')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Username', 'required')"></mat-error>
      </mat-form-field>
      <!-- Email -->
      <mat-form-field appearance="outline" class="Width100">
        <mat-label [ngClass]="ValidationErrorMessage.getFormControl('Email', RegisterForm).valid? 'valid-green':''">Email</mat-label>
        <input matInput type="email" value="" formControlName="Email"
               [errorStateMatcher]="customErrorStateMatcher"
               [ngClass]="RegisterForm.get('Email')?.valid? 'valid-color':''" />
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint align="end" *ngIf="ValidationErrorMessage.getFormControl('Email', RegisterForm).invalid || !ValidationErrorMessage.getFormControl('Email', RegisterForm).value">Enter your email</mat-hint>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Email', RegisterForm).hasError('required')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Email', 'required')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Email', RegisterForm).hasError('email')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Email', 'email')"></mat-error>
      </mat-form-field>
      <!-- Password -->
      <mat-form-field appearance="outline" class="Width100" [ngClass]="ValidationErrorMessage.getFormControl('Password', RegisterForm).invalid&&ValidationErrorMessage.getFormControl('Password', RegisterForm).value? 'password':''">
        <mat-label [ngClass]="ValidationErrorMessage.getFormControl('Password', RegisterForm).valid? 'valid-green':''">Password</mat-label>
        <input matInput value="" autocomplete="current-password"
               [errorStateMatcher]="customErrorStateMatcher"
               [type]="passwordHide ? 'password' : 'text'"
               formControlName="Password" /><!-- Input -->
        <mat-icon matSuffix class="pointerCursor" (click)="passwordHide = !passwordHide">{{passwordHide? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint align="end" *ngIf="ValidationErrorMessage.getFormControl('Password', RegisterForm).invalid || !ValidationErrorMessage.getFormControl('Password', RegisterForm).value">Enter your password</mat-hint>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password', RegisterForm).hasError('required')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password', 'required')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password', RegisterForm).hasError('hasNumber')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password', 'hasNumber')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password', RegisterForm).hasError('hasCapitalCase')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password', 'hasCapitalCase')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password', RegisterForm).hasError('hasSmallCase')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password', 'hasSmallCase')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password', RegisterForm).hasError('minlength')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password', 'minlength')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Password', RegisterForm).hasError('hasSpecialCharacters')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Password', 'hasSpecialCharacters')"></mat-error>
      </mat-form-field>
      <!-- confirm password -->
      <mat-form-field appearance="outline" class="Width100">
        <mat-label [ngClass]="ValidationErrorMessage.getFormControl('ConfirmPassword', RegisterForm).valid? 'valid-green':''">Confirm Password</mat-label>
        <input matInput value=""
               [errorStateMatcher]="customErrorStateMatcher"
               [type]="confirmPasswordHide ? 'password' : 'text'"
               formControlName="ConfirmPassword" /><!-- Input -->
        <mat-icon matSuffix class="pointerCursor" (click)="confirmPasswordHide = !confirmPasswordHide">{{confirmPasswordHide? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint align="end">Enter your password again</mat-hint>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('ConfirmPassword', RegisterForm).hasError('required')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('ConfirmPassword', 'required')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('ConfirmPassword', RegisterForm).hasError('NoPassswordMatch')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('ConfirmPassword', 'NoPassswordMatch')"></mat-error>
      </mat-form-field>
    </div>
    <!------------------------Mat-Dialog-actions--------------------------->
    <div mat-dialog-actions>
      <button mat-raised-button color="primary"  [disabled]="RegisterForm.invalid" (submit) ="RegisterForm.valid"
              class="Width100" aria-label="press to login" (click)="OnRegisterClick($event)">
        <mat-icon>app_registration</mat-icon>
        Create Account
      </button>
      <!--<button mat-raised-button color="warn" aria-label="cancel login dialog">
        <mat-icon>cancel</mat-icon>Cancel
      </button>-->
    </div>
    <!--End Mat-Dialog-actions-->
  </div>
  <p>Already have Account?' <button class="buttonLink" (click)="dialogHandler.CLoseRegisterThenOpen_Client_LoginDialog()">Login</button></p>
</form>
{{RegisterForm.value | json}}
