<form [formGroup]="RegisterForm">
  <div class="form-container">
    <div class="dialog-header">
      <h2 mat-dialog-title>
        Create account
      </h2>
      <mat-icon tabindex="-1" class="closeIcon pointerCursor float-right" matRipple (click)="dialogHandler.CloseDialog()">close</mat-icon>
    </div>
    <!------------------------Mat-Dialog-CONTENT--------------------------->
    <div mat-dialog-content class="Overflow-x-hidden">
      <!-- Username -->
      <mat-form-field appearance="outline" class="Width100">
        <mat-label [ngClass]="getFormControl('Username').valid? 'valid-green':''">Username</mat-label>
        <input matInput type="text" value="" formControlName="Username" />
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint align="end">Enter your username</mat-hint>
        <mat-error *ngIf="getFormControl('Username').hasError('required')"
                   [innerHtml]="getErrorMessage('Username', 'required')"></mat-error>
      </mat-form-field>
      <!-- Email -->
      <mat-form-field appearance="outline" class="Width100">
        <mat-label [ngClass]="getFormControl('Email').valid? 'valid-green':''">Email</mat-label>
        <input matInput type="email" value="" formControlName="Email" [ngClass]="RegisterForm.get('Email')?.valid? 'valid-color':''" />
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint align="end" *ngIf="getFormControl('Email').invalid || !getFormControl('Email').value">Enter your email</mat-hint>
        <mat-error *ngIf="getFormControl('Email').hasError('required')"
                   [innerHtml]="getErrorMessage('Email', 'required')"></mat-error>
        <mat-error *ngIf="getFormControl('Email').hasError('email')"
                   [innerHtml]="getErrorMessage('Email', 'email')"></mat-error>
      </mat-form-field>
     
      <!-- Password -->
      <mat-form-field appearance="outline" class="Width100" [ngClass]="getFormControl('Password').invalid&&getFormControl('Password').value? 'password':''">
        <mat-label [ngClass]="getFormControl('Password').valid? 'valid-green':''">Password</mat-label>
        <input matInput value="" autocomplete="current-password" [type]="passwordHide ? 'password' : 'text'" formControlName="Password" /><!-- Input -->
        <mat-icon matSuffix class="pointerCursor" (click)="passwordHide = !passwordHide">{{passwordHide? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint align="end" *ngIf="getFormControl('Password').invalid || !getFormControl('Password').value">Enter your password</mat-hint>
        <mat-error *ngIf="getFormControl('Password').hasError('required')"
                   [innerHtml]="getErrorMessage('Password', 'required')"></mat-error>
        <mat-error *ngIf="getFormControl('Password').hasError('hasNumber')"
                   [innerHtml]="getErrorMessage('Password', 'hasNumber')"></mat-error>
        <mat-error *ngIf="getFormControl('Password').hasError('hasCapitalCase')"
                   [innerHtml]="getErrorMessage('Password', 'hasCapitalCase')"></mat-error>
        <mat-error *ngIf="getFormControl('Password').hasError('hasSmallCase')"
                   [innerHtml]="getErrorMessage('Password', 'hasSmallCase')"></mat-error>
        <mat-error *ngIf="getFormControl('Password').hasError('minlength')"
                   [innerHtml]="getErrorMessage('Password', 'minlength')"></mat-error>
        <mat-error *ngIf="getFormControl('Password').hasError('hasSpecialCharacters')"
                   [innerHtml]="getErrorMessage('Password', 'hasSpecialCharacters')"></mat-error>
      </mat-form-field>
      <!-- confirm password -->
      <mat-form-field appearance="outline" class="Width100">
        <mat-label [ngClass]="getFormControl('ConfirmPassword').valid? 'valid-green':''">Confirm Password</mat-label>
        <input matInput value="" [type]="confirmPasswordHide ? 'password' : 'text'" formControlName="ConfirmPassword" /><!-- Input -->
        <mat-icon matSuffix class="pointerCursor" (click)="confirmPasswordHide = !confirmPasswordHide">{{confirmPasswordHide? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint align="end">Enter your password again</mat-hint>
        <mat-error *ngIf="getFormControl('ConfirmPassword').hasError('required')"
                   [innerHtml]="getErrorMessage('ConfirmPassword', 'required')"></mat-error>
        <mat-error *ngIf="getFormControl('ConfirmPassword').hasError('NoPassswordMatch')"
                   [innerHtml]="getErrorMessage('ConfirmPassword', 'NoPassswordMatch')"></mat-error>
      </mat-form-field>
    </div>
    <!------------------------Mat-Dialog-actions--------------------------->
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" class="Width100" aria-label="press to login" (click)=" OnRegisterClick($event)">
        <mat-icon>login</mat-icon>
        Create Account
      </button>
      <!--<button mat-raised-button color="warn" aria-label="cancel login dialog">
        <mat-icon>cancel</mat-icon>Cancel
      </button>-->
    </div>
    <!--End Mat-Dialog-actions-->
  </div>
  <p>Already have Account?' <button class="buttonLink" (click)="dialogHandler.CLoseRegisterThenOpen_Owner_LoginDialog()">Login</button></p>
</form>
{{RegisterForm.value | json}}
