::ng-deep mat-grid-list .mat-grid-tile:nth-child(3) .mat-grid-tile-content,
::ng-deep mat-grid-list .mat-grid-tile:nth-child(3),
::ng-deep mat-grid-list .mat-grid-tile:nth-child(4) .mat-grid-tile-content,
::ng-deep mat-grid-list .mat-grid-tile:nth-child(4){
  display: block !important;
  height:calc(7rem + 3px) !important;
}
::ng-deep .mat-grid-list{
  max-height: 100vh;
  height: 100vh !important;
}
::ng-deep mat-grid-list .mat-grid-tile:nth-child(1) .mat-grid-tile-content, ::ng-deep mat-grid-list .mat-grid-tile:nth-child(2) .mat-grid-tile-content{
  flex-direction: column;
}

.mat-grid-tile{
  background-color: inherit;
  margin:5px !important;
}

/* .ag-header-container, .ag-center-cols-container, .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value.ag-cell-focus,
.ag-row-no-focus.ag-row, .ag-center-cols-viewport{
  width: 100% !important;
}
.ag-center-cols-container{
  width: 100% !important;
}

.ag-theme-alpine .ag-rtl .ag-cell {
width: 100% !important;
} */
::ng-deep .ag-center-cols-viewport{
  overflow: hidden !important;
}
app-icon-button-renderer.ng-star-inserted button:first-child{
  display: none !important;
}
::ng-deep mat-card-title, mat-card-subtitle, .mat-form-field-label, mat-card-actions, form, mat-divider, mat-label{
  background-color: inherit !important;
  color:inherit !important;
}
::ng-deep .mat-form-field-empty.mat-form-field-label, .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
::ng-deep .mat-form-field-outline:not(::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick){
  color:inherit !important;
}
::ng-deep .mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button{
  margin: 0 !important;
}
::ng-deep mat-label{
  font-size: 14px !important;
  font-family: inherit !important;
}
.mat-card{
  margin:0 !important;
}

.space-between{
  justify-content: space-between !important;
}
.space-evenly{
  justify-content: space-evenly !important;
}
