<!-- <ng-container *ngIf="ErrorGettingAllBands.length !==0">
  <div class="errorsIn_The_center_Screen">
    <ul>
      <li *ngFor="let error of ErrorGettingAllBands">
        {{error.status|translate}}
      </li>
    </ul>
  </div>
</ng-container> -->
<!-- <ng-container *ngIf="ErrorGettingAllBands.length === 0"> -->
<ng-container>
  <form [formGroup]="AddItemMainDetails"
        class="space-evenly"
        fxLayout="row wrap"
        fxLayoutGap.lt-sm="16px"
        (ngSubmit)="AddItemMainDetails.valid"
        [dir]="this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'rtl':
      !this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'ltr':'ltr'">
    <!-- ------------------------------------------------------ Item Main Details -->
    <mat-card fxFlex="100%"
              [class]="DarkOrLight===Constants.dark?Constants.CSS_dark_for_Child_Component:Constants.CSS_Light_for_Child_Component">
      <mat-card-title [ngClass]="ThemeColors.bg"
                      [class]="ThemeColors.colorName==='organge'||ThemeColors.colorName==='amber'?Constants.CSS_dark_color:
Constants.CSS_text_white"
                      [style.font-family]="!this.translate.isRightToLeft(this.translate.GetCurrentLang())? Constants.CSS_cursive_font_NotClass + ' !important':Constants.CSS_Hacen_Casablanca_font_NotClass+' !important'"
                      [dir]="this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'rtl':
      !this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'ltr':'ltr'">
        {{Constants.Product_Main_Details|translate}}</mat-card-title>
      <mat-card-content>
        <div fxLayout="row wrap"
             fxLayoutAlign="space-between">
          <mat-form-field appearance="outline"
                          fxFlex.gt-sm="49%"
                          fxFlex.sm="100%"
                          fxFlex.lt-sm="100%">
            <mat-label [ngClass]="ValidationErrorMessage.getFormControl('Name', AddItemMainDetails)
      .valid?Constants.CSS_valid_green:''">{{this.Constants.ProductName | translate}}
            </mat-label>
            <input matInput
                   [maxlength]="MaxLength"
                   type="text"
                   value=""
                   formControlName="Name"
                   [errorStateMatcher]="customErrorStateMatcher" />
            <mat-icon matSuffix><span class="material-icons-outlined">
                category
              </span></mat-icon>
            <mat-error *ngIf="ValidationErrorMessage.getFormControl('Name',AddItemMainDetails)
      .hasError('required')">
              {{Constants.Required_field_Error | translate}}
            </mat-error>
            <mat-error *ngIf="ValidationErrorMessage.getFormControl('Name', AddItemMainDetails)
    .hasError('maxlength')">{{Constants.MaxLengthExceeded_ERROR | translate}} {{MaxLength}}
              {{Constants.characters|translate}} </mat-error>
          </mat-form-field>
          <!-- ....................................................Item Inverteories Selection -->
          <mat-form-field appearance="outline"
                          fxFlex.gt-sm="49%"
                          fxFlex.sm="100%"
                          fxFlex.lt-sm="100%">
            <mat-label>{{Constants.SelectDefultInventory|translate}}</mat-label>
            <ng-template [ngIf]="AllInventories.length>0"
                         [ngIfElse]="noInventories"
                         #AllInvent>
              <mat-select>
                <input matInput
                       type="search"
                       placeholder="{{Constants.Search|translate}}">
                <mat-divider inset></mat-divider>
                <mat-option *ngFor="let invent of AllInventories"
                            [value]="invent.id">
                  {{invent.name}}
                </mat-option>
                <button mat-button
                        disableRipple>
                  <mat-icon class="mat-18">
                    <span class="material-icons">
                      add_box
                    </span>
                  </mat-icon>{{Constants.Add_New_Inventory|translate}}
                </button>
              </mat-select>
            </ng-template>
            <ng-template #noInventories>
              <mat-select>
                <mat-option [class]="Constants.CSS_red">{{Constants.NoAddedInvetories|translate}}</mat-option>
                <button mat-button
                        disableRipple>
                  <mat-icon class="mat-18">
                    <span class="material-icons">
                      add_box
                    </span>
                  </mat-icon>{{Constants.Add_New_Inventory|translate}}
                </button>
              </mat-select>
            </ng-template>
          </mat-form-field>
          <!-- ....................................................Item Main Category Selection -->

          <mat-form-field appearance="outline"
                          fxFlex.gt-sm="49%"
                          fxFlex.sm="100%"
                          fxFlex.lt-sm="100%">
            <mat-label>{{Constants.SelectMainCategory|translate}}</mat-label>
            <ng-template [ngIf]="AllMainCategories.length>0"
                         [ngIfElse]="NoAddedMainCateogries">
              <mat-select (selectionChange)="GetAllSubCats(mainCatSelection.value)"
                          #mainCatSelection>
                <input matInput
                       type="search"
                       placeholder="{{Constants.Search|translate}}">
                <mat-divider></mat-divider>
                <mat-option *ngFor="let MainCat of AllMainCategories"
                            [style.font-family]="!this.translate.isRightToLeft(this.translate.GetCurrentLang())? Constants.CSS_Calibri_font + ' !important':Constants.CSS_Hacen_Casablanca_font_NotClass+' !important'"
                            [dir]="this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'rtl':
!this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'ltr':'ltr'"
                            [value]="MainCat.id">
                  {{MainCat.name===Constants.Uncategorized?
                  this.translate.GetTranslation(Constants.Uncategorized):MainCat.name}}
                </mat-option>
                <button mat-button
                        (click)="OpenItemMainCats()"
                        disableRipple>
                  <mat-icon class="mat-18">
                    <span class="material-icons">
                      add_box
                    </span>
                  </mat-icon>{{Constants.Add|translate}} {{Constants.MainCat_Singular|translate}}
                </button>
              </mat-select>
            </ng-template>
            <ng-template #NoAddedMainCateogries>
              <mat-select>
                <mat-option *ngIf="AllMainCategories.length===0"
                            [class]="Constants.CSS_red">{{Constants.NoMainCatsAdded|translate}}</mat-option>
                <button mat-button
                        (click)="OpenItemMainCats()"
                        disableRipple>
                  <mat-icon class="mat-18">
                    <span class="material-icons">
                      add_box
                    </span>
                  </mat-icon>{{Constants.Add|translate}} {{Constants.MainCat_Singular|translate}}
                </button>
              </mat-select>
            </ng-template>
          </mat-form-field>
          <!-- ....................................................Item Sub Category Selection -->

          <mat-form-field appearance="outline"
                          fxFlex.gt-sm="49%"
                          fxFlex.sm="100%"
                          fxFlex.lt-sm="100%">
            <mat-label>{{Constants.Select_Sub_Category|translate}}</mat-label>
            <ng-template [ngIf]="SelectedSubCats.length>0"
                         [ngIfElse]="NoAddedSubCateogries">
              <mat-select>
                <input matInput
                       type="search"
                       placeholder="{{Constants.Search|translate}}">
                <mat-divider></mat-divider>
                <mat-option *ngFor="let SubCat of SelectedSubCats"
                            [style.font-family]="!this.translate.isRightToLeft(this.translate.GetCurrentLang())? Constants.CSS_Calibri_font + ' !important':Constants.CSS_Hacen_Casablanca_font_NotClass+' !important'"
                            [dir]="this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'rtl':
!this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'ltr':'ltr'"
                            [value]="SubCat.id">
                  {{SubCat.name}}
                </mat-option>
                <button mat-button
                        (click)="OpenItemMainCats()"
                        disableRipple>
                  <mat-icon class="mat-18">
                    <span class="material-icons">
                      add_box
                    </span>
                  </mat-icon>{{Constants.Add|translate}} {{Constants.Sub_Categories_Singular|translate}}
                </button>
              </mat-select>
            </ng-template>
            <ng-template #NoAddedSubCateogries>
              <mat-select>
                <mat-option *ngIf="SelectedSubCats.length===0"
                            [class]="Constants.CSS_red">{{Constants.NoSubCatsAdded|translate}}</mat-option>
                <button mat-button
                        (click)="OpenItemMainCats()"
                        disableRipple>
                  <mat-icon class="mat-18">
                    <span class="material-icons">
                      add_box
                    </span>
                  </mat-icon>{{Constants.Add|translate}} {{Constants.Sub_Categories_Singular|translate}}
                </button>
              </mat-select>
            </ng-template>
          </mat-form-field>
          <!-- ....................................................Item Units Selection -->
          <mat-form-field appearance="outline"
                          fxFlex.gt-sm="49%"
                          fxFlex.sm="100%"
                          fxFlex.lt-sm="100%">
            <mat-label>{{Constants.Select_Item_Unit|translate}}</mat-label>
            <ng-template [ngIf]="AllUnits.length>0"
                         [ngIfElse]="noAddItemUnit">
              <mat-select multiple
                          #itemUnitSelections>
                <input matInput
                       type="search"
                       placeholder="{{Constants.Search|translate}}">
                <mat-divider></mat-divider>
                <mat-option *ngFor="let unit of AllUnits"
                            [style.font-family]="!this.translate.isRightToLeft(this.translate.GetCurrentLang())? Constants.CSS_Calibri_font + ' !important':Constants.CSS_Hacen_Casablanca_font_NotClass+' !important'"
                            [dir]="this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'rtl':
!this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'ltr':'ltr'"
                            [value]="unit.id">
                  {{unit.numberInWholeSale}} {{unit.wholeSaleUnit}} = {{unit.numberInRetailSale}} {{unit.retailUnit}}
                </mat-option>
                <button mat-button
                        (click)="OpenItemUnitForm()"
                        disableRipple>
                  <mat-icon class="mat-18">
                    <span class="material-icons">
                      add_box
                    </span>
                  </mat-icon>{{Constants.Add_New_Units|translate}}
                </button>
              </mat-select>
            </ng-template>
            <ng-template #noAddItemUnit>
              <mat-select>
                <mat-option *ngIf="AllUnits.length===0"
                            [class]="Constants.CSS_red">{{Constants.NoUnitsAdded|translate}}</mat-option>
                <button mat-button
                        (click)="OpenItemUnitForm()"
                        disableRipple>
                  <mat-icon class="mat-18">
                    <span class="material-icons">
                      add_box
                    </span>
                  </mat-icon>{{Constants.Add_New_Units|translate}}
                </button>
              </mat-select>
            </ng-template>
          </mat-form-field>
          <!-- .....................................................Add Defult Suppliers -->
          <mat-form-field appearance="outline"
                          fxFlex.gt-sm="49%"
                          fxFlex.sm="100%"
                          fxFlex.lt-sm="100%">
            <mat-label>{{Constants.SelectDefaultSupplier|translate}}</mat-label>
            <ng-template [ngIf]="AllSuppliers.length>0"
                         [ngIfElse]="NoSuppliersAreAdded">
              <mat-select>
                <input matInput
                       type="search"
                       placeholder="{{Constants.Search|translate}}">
                <mat-divider></mat-divider>
                <mat-option *ngFor="let Supplier of AllSuppliers"
                            [style.font-family]="!this.translate.isRightToLeft(this.translate.GetCurrentLang())? Constants.CSS_Calibri_font + ' !important':Constants.CSS_Hacen_Casablanca_font_NotClass+' !important'"
                            [dir]="this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'rtl':
!this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'ltr':'ltr'"
                            [value]="Supplier.id">
                  {{Supplier.businessName}} - {{Supplier.firstName}} {{Supplier.lastName}}
                </mat-option>
                <button mat-button
                        (click)="OpenItemMainCats()"
                        disableRipple>
                  <mat-icon class="mat-18">
                    <span class="material-icons">
                      add_box
                    </span>
                  </mat-icon>{{Constants.Add|translate}} {{Constants.Supplier_Singular|translate}}
                </button>
              </mat-select>
            </ng-template>
            <ng-template #NoSuppliersAreAdded>
              <mat-select>
                <mat-option *ngIf="AllSuppliers.length===0"
                            [class]="Constants.CSS_red">{{Constants.NoSupplierAdded|translate}}</mat-option>
                <button mat-button
                        (click)="OpenItemMainCats()"
                        disableRipple>
                  <mat-icon class="mat-18">
                    <span class="material-icons">
                      add_box
                    </span>
                  </mat-icon>{{Constants.Add|translate}} {{Constants.Supplier_Singular|translate}}
                </button>
              </mat-select>
            </ng-template>
          </mat-form-field>
        </div>

        <!-- ----------------------------------------------------------- TextArea -->
        <div fxLayout="row wrap"
             fxLayoutAlign="space-between">
          <mat-form-field appearance="outline"
                          fxFlex.gt-sm="49%"
                          fxFlex.sm="100%"
                          fxFlex.lt-sm="100%">
            <mat-label>{{Constants.Description|translate}}</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="5"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline"
                          fxFlex.gt-sm="49%"
                          fxFlex.sm="100%"
                          fxFlex.lt-sm="100%">
            <mat-label>{{Constants.InternalNotes|translate}}</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="5"></textarea>
          </mat-form-field>
        </div>
        <div fxLayout.gt-sx="row nowrap"
             fxLayout.sx="column"
             fxLayoutAlign="space-between">
          <mat-checkbox color="primary"
                        formControlName="HasExpire">{{Constants.Has_Expiry_Date|translate}} </mat-checkbox>
          <mat-checkbox color="primary"
                        formControlName="IsOnline">{{Constants.Available_online|translate}}</mat-checkbox>
        </div>

      </mat-card-content>
    </mat-card>
    <!-- ------------------------------------------------------ Item Variants Details -->
    <mat-card fxFlex="100%"
              style="margin-top: 10px;"
              [class]="DarkOrLight===Constants.dark?Constants.CSS_dark_for_Child_Component:Constants.CSS_Light_for_Child_Component">
      <mat-card-title [ngClass]="ThemeColors.bg"
                      [class]="ThemeColors.colorName==='organge'||ThemeColors.colorName==='amber'?Constants.CSS_dark_color:
Constants.CSS_text_white"
                      [style.font-family]="!this.translate.isRightToLeft(this.translate.GetCurrentLang())? Constants.CSS_cursive_font_NotClass + ' !important':Constants.CSS_Hacen_Casablanca_font_NotClass+' !important'"
                      [dir]="this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'rtl':
      !this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'ltr':'ltr'">
        {{Constants.ItemVariants_Prices_Details|translate}}</mat-card-title>
      <mat-card-content>
        <div fxLayout="row wrap"
             fxLayoutAlign="space-between">

        </div>

      </mat-card-content>
    </mat-card>
  </form>
</ng-container>
<!-- <button mat-raised-button
                color="primary"
                (submit)="AddItemMainDetails.valid"
                [disabled]="AddItemMainDetails.invalid"
                [ngClass]="ThemeColors.bg + ' ' + Constants.CSS_Width100"
                [class]="ThemeColors.colorName==='organge'||ThemeColors.colorName==='amber'?Constants.CSS_dark_color:
    Constants.CSS_text_white"
                aria-label="Add new product">
          <mat-icon>
            <mat-spinner diameter="20"
                         color="warn"
                         *ngIf="loading"></mat-spinner><span *ngIf="!loading"
                  class="material-icons-outlined">
              add_circle
            </span>
          </mat-icon>
          {{'Add'|translate}} {{Constants.Brand_Name_Singular | translate}}
        </button> -->
