<form [formGroup]="ForgetPassworForm" (ngSubmit)="ForgetPassworForm.valid"
  [dir]="selected&&translate.isRightToLeft(selected)?'rtl':'ltr'">
  <div class="form-container">
    <div class="dialog-header">
      <h2 mat-dialog-title>
        {{'Forget Password'| translate}}
      </h2>
      <mat-icon tabindex="-1" class="pointerCursor closeIcon float-right"
        matRipple (click)="dialogHandler.CloseDialog()">close</mat-icon>
    </div>
    <!------------------------Mat-Dialog-CONTENT--------------------------->
    <div mat-dialog-content>
      <mat-error class="alert alert-danger" *ngIf="ValidationErrors.length>0">
        <p>Please Correct the following errors</p>
        <ul>
          <li *ngFor="let error of ValidationErrors">{{error.error}}</li>
        </ul>
      </mat-error>
      <!-- Email -->
      <mat-form-field appearance="outline" class="Width100">
        <mat-label [ngClass]="ValidationErrorMessage.getFormControl('Email',
          ForgetPassworForm).valid? 'valid-green':''"><span>{{'Email'|
            translate}}</span></mat-label>
        <input matInput type="email" value=""
          [errorStateMatcher]="customErrorStateMatcher"
          formControlName="Email"
          [ngClass]="ForgetPassworForm.get('Email')?.valid? 'valid-color':''" />
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint align="end"
          *ngIf="ValidationErrorMessage.getFormControl('Email',
          ForgetPassworForm).invalid ||
          !ValidationErrorMessage.getFormControl('Email',
          ForgetPassworForm).value">{{'Email hint'|translate}}</mat-hint>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Email',
          ForgetPassworForm).hasError('required') && selected==='en'"
          [innerHtml]="ValidationErrorMessage.getErrorMessage('Email',
          'required')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Email',
          ForgetPassworForm).hasError('required') && selected==='ar'">
          {{'EmailRequired'|translate}}
        </mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Email',
          ForgetPassworForm).hasError('email')
          && selected ==='en'"
          [innerHtml]="ValidationErrorMessage.getErrorMessage('Email',
          'email')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Email',
          ForgetPassworForm).hasError('email')
          && selected ==='ar'">
          {{'IncorrecEmail'|translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <!------------------------Mat-Dialog-actions--------------------------->
    <div mat-dialog-actions>
      <button mat-raised-button color="primary"
        [disabled]="ForgetPassworForm.invalid" class="Width100"
        aria-label="press to reset password"
        (click)="OnSubmit()"
        (submit)="ForgetPassworForm.valid">
        {{'Submit'|translate}}
      </button>
    </div>
    <!--End Mat-Dialog-actions-->
  </div>
  <p>
    {{"Don't have Account?"|translate}}
    <button class="buttonLink" (click)="dialogHandler.CloseDialog();
      dialogHandler.OpenClientRegisterDialog();">
      {{'Create one'|translate}}
    </button>
  </p>
</form>
