<form [formGroup]="ForgetPassworForm" (ngSubmit)="ForgetPassworForm.valid">
  <div class="form-container">
    <div class="dialog-header">
      <h2 mat-dialog-title>
        Forget Password
      </h2>
      <mat-icon tabindex="-1" class="pointerCursor closeIcon float-right"
                matRipple (click)="dialogHandler.CloseDialog()">close</mat-icon>
    </div>
    <!------------------------Mat-Dialog-CONTENT--------------------------->
    <div mat-dialog-content>
      <mat-error class="alert alert-danger" *ngIf="ValidationErrors.length>0">
        <p>Please Correct the following errors</p>
        <ul>
          <li *ngFor="let error of ValidationErrors">{{error.error}}</li>
        </ul>
      </mat-error>
      <!-- Email -->
      <mat-form-field appearance="outline" class="Width100">
        <mat-label [ngClass]="ValidationErrorMessage.getFormControl('Email', ForgetPassworForm).valid?
                   'valid-green':''">Email</mat-label>
        <input matInput type="email" value="" formControlName="Email"
               [errorStateMatcher]="customErrorStateMatcher"
               [ngClass]="ForgetPassworForm.get('Email')?.valid? 'valid-color':''" />
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint align="end" *ngIf="ValidationErrorMessage.getFormControl('Email', ForgetPassworForm).invalid
                  || !ValidationErrorMessage.getFormControl('Email', ForgetPassworForm).value">Enter your email</mat-hint>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Email', ForgetPassworForm).hasError('required')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Email', 'required')"></mat-error>
        <mat-error *ngIf="ValidationErrorMessage.getFormControl('Email', ForgetPassworForm).hasError('email')"
                   [innerHtml]="ValidationErrorMessage.getErrorMessage('Email', 'email')"></mat-error>
      </mat-form-field>
    </div>
    <!------------------------Mat-Dialog-actions--------------------------->
    <div mat-dialog-actions>
      <button mat-raised-button color="primary"
              [disabled]="ForgetPassworForm.invalid" class="Width100" aria-label="press to login"
              (click)="OnSubmit()"
              (submit)="ForgetPassworForm.valid">
        Submit
      </button>
    </div>
    <!--End Mat-Dialog-actions-->
  </div>
  <p>
    Don't have Account?'
    <button class="buttonLink" (click)="dialogHandler.CloseDialog(); dialogHandler.OpenClientForgetPassword();">
      Create one
    </button>
  </p>
</form>
