<!--<app-client-main-domain-nav-bar [apptitle]="title" *ngIf="!IsOwnerRoute &&
                                (subdomain=='localhost:44369' || subdomain ==='kherp')"></app-client-main-domain-nav-bar>-->
<!--<app-client-main-domain [apptitle]="title" *ngIf="!IsOwnerRoute &&
                                (subdomain=='localhost:44369' || subdomain ==='kherp')"></app-client-main-domain>-->
<!--<app-owner-main [apptitle]="title" *ngIf="IsOwnerRoute"></app-owner-main>-->
<!--<app-owner-nav-bar [apptitle]="title" *ngIf="IsOwnerRoute"></app-owner-nav-bar>-->
<router-outlet></router-outlet>
