<div [class]="Constants.CSS_table_outer_Container + ' '+ 'mat-elevation-z2'"
     [dir]="TableDirection">
  <!-- Filter div -->

  <div [class]="Table_Color_mode===Constants.dark?Constants.CSS_DarkTableBg + ' ' + Constants.CSS_TablefilterDiv
       :Constants.CSS_LightTableBg + ' ' + Constants.CSS_TablefilterDiv"
       fxLayout="row"
       fxLayout.xs="column"
       fxLayoutAlign.gt-xs="space-between center"
       fxLayoutAlign.xs="space-evenly center"
       [style.height]="FilterSectionHeight"
       *ngIf="ShowFilterSection">
    <div fxLayout="row">
      <!-- ................................................. Search table -->
      <div fxLayout="row"
           [dir]="translate.isRightToLeft(translate.GetCurrentLang())?'rtl':'ltr'"
           fxLayoutAlign="center center"
           class="SearchTable">
        <input #searchInput
               [placeholder]="translate.GetTranslation(Constants.Search_table)"
               (input)="Filter(searchInput.value)"
               type="text"
               value="" />
        <mat-icon class="mat-18"
                  matSuffix>
          search
        </mat-icon>
      </div>
      <span *ngIf="searchInput.value!==''"
            fxLayoutAlign="center center">
        {{dataSource.filteredData.length===0?
        translate.GetTranslation(Constants.NoMatchedData)
        :dataSource.filteredData.length!==0?
        translate.GetTranslation(Constants.Found) + ' '+ dataSource.filteredData.length + '
        '+translate.GetTranslation(Constants.results)
        :''}}
      </span>
    </div>
    <!-- ....................................................Settings button -->
    <div fxLayout="row">
      <button mat-raised-button
              [ngClass]="ThemeColors.bg"
              [class]="ThemeColors.colorName==='organge'||ThemeColors.colorName==='amber'?Constants.CSS_dark_color:
    Constants.CSS_text_white"
              (click)="AddClicked()">
        <ng-container *ngFor="let t of AddButton_Text">
          {{!t.needTranslation?t.text:t.text|translate}}

        </ng-container>
      </button>
      <button mat-button
              [dir]="translate.isRightToLeft(this.translate.GetCurrentLang())?'rtl':'ltr'"
              disableRipple="true"
              (click)="TableSettingClick()"
              #tableSettingsButton
              [matMenuTriggerFor]="TableSettings">
        <mat-icon class="mat-18">settings</mat-icon>
        <mat-menu #TableSettings
                  [overlapTrigger]="false">
          <span mat-menu-item
                (click)="  $event.stopPropagation()"
                [class]="Constants.CSS_TableSettingsMenu"
                *ngFor="let col of columns; let i = index">
            <mat-checkbox color="primary"
                          (change)="SettingChange(col, i)"
                          [checked]="col.field!==''">
              <mat-icon class="mat-18"
                        *ngIf="col.HeaderfaIcon">
                <fa-icon [icon]="col.HeaderfaIcon"></fa-icon>
              </mat-icon>
              <mat-icon class="mat-18"
                        *ngIf="col.HeaderGoogleIcon">{{col.HeaderGoogleIcon}}</mat-icon>
              <span *ngIf="!col.HeaderGoogleIcon&&!col.HeaderfaIcon">
                {{col.display|translate}}
              </span>
            </mat-checkbox>
          </span>
        </mat-menu>
      </button>
    </div>
  </div>
  <div [class]="Constants.CSS_table_container">
    <mat-progress-bar mode="indeterminate"
                      *ngIf="ShowProgressbar"></mat-progress-bar>
    <div [class]="Constants.CSS_loading_shade"
         *ngIf="isLoadingRes"
         style="min-height: 200px;">
      <mat-spinner *ngIf="isLoadingRes"
                   diameter="50"></mat-spinner>
    </div>

    <ng-template [ngIf]="NoData&& !isLoadingRes">
      <div style="min-height: 100px;"
           [class]="Constants.CSS_loading_shade">
        No rows are shown
      </div>
    </ng-template>
    <table mat-table
           *ngIf="!isLoadingRes"
           [hidden]="items.length!==0"
           multiTemplateDataRows
           [class]="Table_Color_mode===Constants.dark?Constants.CSS_DarkTableBg
:Constants.CSS_LightTableBg"
           [dataSource]="dataSource"
           cdkDropList
           matSort
           cdkDropListOrientation="horizontal"
           (cdkDropListDropped)="dropListDropped($event)">

      <ng-container *ngFor="let column of columns; let i = index"
                    [matColumnDef]="column.field">
        <th mat-header-cell
            fxFlexAlign="center"
            *matHeaderCellDef
            cdkDrag
            cdkDragLockAxis="x"
            mat-sort-header>

          <ng-template [ngIf]="column.HeaderfaIcon || column.HeaderGoogleIcon">
            <mat-icon class="mat-18"
                      *ngIf="column.HeaderfaIcon">
              <fa-icon [icon]="column.HeaderfaIcon"></fa-icon>
            </mat-icon>
            <mat-icon class="mat-18"
                      *ngIf="column.HeaderGoogleIcon">
              {{column.HeaderGoogleIcon}}
            </mat-icon>
          </ng-template>
          <ng-template [ngIf]="!column.HeaderfaIcon && !column.HeaderGoogleIcon">
            {{translate.GetTranslation(column.display)}}
          </ng-template>
        </th>

        <td mat-cell
            *matCellDef="let row">
          <span *ngIf="!column.IsTrueOrFlase && column.field !== RefField">
            {{row[column.field]}}
          </span>
          <span *ngIf="!column.IsTrueOrFlase && column.field === RefField">
            {{row[RefField]}}
            <br *ngIf="row[RefField]">
            <button mat-button
                    *ngIf="row[RefField]===''"
                    class="btn buttonLink"
                    (click)="AddReferencialData(row)">{{Constants.Add|translate}}</button>
            <button mat-button
                    *ngIf="row[RefField]!==''"
                    class="btn buttonLink"
                    (click)="EditReferencialData(row)">{{Constants.Edit|translate}}</button>
            <button mat-button
                    *ngIf="row[RefField]!==''"
                    class="btn buttonLink"
                    (click)="DeleteReferencialData(row)">{{Constants.Delete|translate}}</button>
          </span>

          <span *ngIf="column.IsTrueOrFlase">
            <span *ngIf="column.True_faIcon || column.False_faIcon">
              <mat-icon class="mat-18"
                        [class]="Constants.CSS_green"
                        *ngIf="row[column.field]===true ">
                <fa-icon [icon]="column.True_faIcon"></fa-icon>
              </mat-icon>
              <mat-icon class="mat-18"
                        [class]="Constants.CSS_red"
                        *ngIf="row[column.field]===false">
                <fa-icon [icon]="column.False_faIcon"></fa-icon>
              </mat-icon>
            </span>
            <span *ngIf="column.True_GoogleIcon || column.False_GoogleIcon">
              <mat-icon class="mat-18"
                        [class]="Constants.CSS_green"
                        *ngIf="row[column.field]===true ">
                {{column.True_GoogleIcon }}
              </mat-icon>
              <mat-icon class="mat-18"
                        [class]="Constants.CSS_red"
                        *ngIf="row[column.field]===false">
                {{column.False_GoogleIcon}}
              </mat-icon>
            </span>
          </span>

        </td>

      </ng-container>
      <ng-container matColumnDef="Delete">
        <th mat-header-cell
            *matHeaderCellDef> {{Constants.Delete | translate}} </th>
        <td mat-cell
            *matCellDef="let element; let i =index">
          <button mat-icon-button
                  *ngIf="element[PreventDeleteForKey]!== PreventDeleteForValue "
                  color="warn"
                  (click)="Delete(element)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <ng-container matColumnDef="Edit">
        <th mat-header-cell
            *matHeaderCellDef> {{Constants.Edit | translate}} </th>
        <td mat-cell
            *matCellDef="let element">
          <button mat-icon-button
                  color="primary"
                  (click)="Edit(element)">
            <fa-icon [icon]="faEdit"
                     style="font-size: 18px;"></fa-icon>
          </button>
        </td>
      </ng-container>
      <!-- ............................................ expanded element -->
      <ng-container matColumnDef="expandedDetail"
                    *ngIf="HasCollabsableRow && CollabsableDataKeys.length>0">
        <td mat-cell
            *matCellDef="let element"
            [attr.colspan]="displayedColumns.length+2">
          <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div fxLayout="row wrap"
                 fxLayout.xs="column"
                 fxLayoutAlign="space-between center">
              <div *ngFor="let key of CollabsableDataKeys"
                   fxFlex="49%"
                   fxFlex.xs="100%">
                <span>{{key.toLowerCase()|translate}} : {{element[key]}}</span>
              </div>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row
          [ngClass]="ThemeColors.bg"
          [class]="ThemeColors.colorName==='organge'||ThemeColors.colorName==='amber'?Constants.CSS_dark_color:
         Constants.CSS_text_white"
          *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row
          (click)="SelectRow(row)"
          (dblclick)="Dbclick(row)"
          [class]="SelectedRows.includes(row) && Table_Color_mode===Constants.dark?  Constants.CSS_DarkRowSelection:
         SelectedRows.includes(row) && Table_Color_mode===Constants.light?Constants.CSS_LightRowSelection:'' "
          *matRowDef="let row; columns: displayedColumns;"></tr>
      <ng-template *ngIf="HasCollabsableRow && CollabsableDataKeys.length>0">
        <tr mat-row
            *matRowDef="let row; columns: ['expandedDetail']"></tr>
      </ng-template>
    </table>
    <mat-divider style="max-width: 100%;"></mat-divider>

  </div>
  <mat-paginator [length]="items.length"
                 fixed
                 *ngIf="ShowPaginator"
                 style-paginator
                 [hidden]="!isLoadingResults"
                 [class]="Table_Color_mode===Constants.dark?Constants.CSS_DarkTableBg
:Constants.CSS_LightTableBg"
                 [pageSize]="2"
                 [pageSizeOptions]="[2, 4, 6, 10, 20]"
                 [class]="Table_Color_mode===Constants.dark?Constants.CSS_DarkTableBg
              :Constants.CSS_LightTableBg"
                 showFirstLastButtons
                 [showTotalPages]="3"
                 aria-label="Select page of warehouses search results"></mat-paginator>
</div>