<!-- <ng-container *ngIf="ErrorGettingAllMainCats.length !==0">
  <div class="errorsIn_The_center_Screen">
    <ul>
      <li *ngFor="let error of ErrorGettingAllMainCats">
        {{error.status|translate}}
      </li>
    </ul>
  </div>
</ng-container> -->
<ng-container *ngIf="ErrorGettingAllMainCats.length === 0">
  <mat-card
            [class]="DarkOrLight===Constants.dark?Constants.CSS_dark_for_Child_Component:Constants.CSS_Light_for_Child_Component">
    <mat-card-title [style.font-family]="!this.translate.isRightToLeft(this.translate.GetCurrentLang())? Constants.CSS_cursive_font_NotClass + ' !important':Constants.CSS_Hacen_Casablanca_font_NotClass+' !important'"
                    [dir]="this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'rtl':
      !this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'ltr':'ltr'">
      {{Constants.Units|translate}}</mat-card-title>
    <mat-card-subtitle [dir]="this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'rtl':
      !this.translate.isRightToLeft(this.translate.GetCurrentLang())&& (Theme_dir==='rtl'||'ltr')?'ltr':'ltr'">
      {{this.Constants.Add_Edit_Delete | translate}} {{Constants.Units|translate}}
    </mat-card-subtitle>
    <mat-card-content>
      <mat-form-field appearance="outline"
                      [class]="Constants.CSS_Width100">
        <mat-label>{{Constants.Search_table|translate}}</mat-label>
        <input #UnitSearch
               (input)="externalFilterChanged(UnitSearch)"
               matInput
               type="search"
               name="MainCatTableFilter"
               id="MainCatTableFilter">
        <mat-icon matSuffix><span class="material-icons-outlined">
            search
          </span></mat-icon>
      </mat-form-field>
      <ng-template [ngIf]="AgGridDir === 'rtl'"
                   [ngIfElse]="LeftGrid"
                   #Withbutton>
        <ag-grid-angular style="width: 100%; height: 450px;"
                         [class]="Table_Color_mode===Constants.light || Theme_dir===Constants.light?'ag-theme-alpine':'ag-theme-alpine-dark'"
                         [rowData]="ItemsUnits | async"
                         [columnDefs]="columnDefs"
                         (gridReady)="OnGridReady($event)"
                         [defaultColDef]="defaultColDef"
                         [overlayLoadingTemplate]="overlayLoadingTemplate"
                         [animateRows]="true"
                         [enableRtl]="true"
                         [frameworkComponents]="agFrameworks"
                         rowSelection="single"
                         (cellValueChanged)="UpdateItemUnit($event)">
        </ag-grid-angular>
      </ng-template>
      <ng-template #LeftGrid>
        <!-- <ag-grid-angular style="width: 100%; height: 450px;"
                         [class]="Table_Color_mode===Constants.light || Theme_dir===Constants.light?'ag-theme-alpine':'ag-theme-alpine-dark'"
                         [rowData]="ItemsMainCategories | async"
                         [columnDefs]="columnDefs"
                         (gridReady)="OnGridReady($event)"
                         [defaultColDef]="defaultColDef"
                         [overlayLoadingTemplate]="overlayLoadingTemplate"
                         [animateRows]="true"
                         [enableRtl]="false"
                         [frameworkComponents]="agFrameworks"
                         rowSelection="single"
                         (rowSelected)="ItemMainCatRowSelect($event)"
                         (cellValueChanged)="UpdateItemMainCat($event)">
        </ag-grid-angular> -->
      </ng-template>

    </mat-card-content>
    <mat-progress-bar mode="indeterminate"
                      *ngIf="ShowProgressBar"></mat-progress-bar>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <form [formGroup]="Add_Item_Unit"
            style="padding: 0 11px"
            fxLayout="column"
            (ngSubmit)="Add_Item_Unit.valid">
        <div fxLayout="row wrap"
             fxLayoutGap.lt-sm="16px"
             fxLayoutGap.xs="0"
             fxLayoutAlign="space-between center">
          <!--
             Wholesale
             unit
             -->
          <mat-form-field appearance="outline"
                          fxFlex="24%"
                          fxFlex.xs="100%">
            <mat-label [ngClass]="ValidationErrorMessage.getFormControl('WholeSaleName', Add_Item_Unit)
            .valid?Constants.CSS_valid_green:''">{{Constants.WholeSaleUnit| translate}}</mat-label>
            <input matInput
                   required
                   type="text"
                   value=""
                   [maxlength]="MaxlengthVlue"
                   formControlName="WholeSaleName"
                   [errorStateMatcher]="customErrorStateMatcher"
                   (input)="CheckIfUniqe($event)" />
            <mat-icon matSuffix><span class="
                   material-icons-outlined">short_text</span></mat-icon>
            <mat-error *ngIf="ValidationErrorMessage.getFormControl('WholeSaleName', Add_Item_Unit)
            .hasError('required')">{{Constants.Required_field_Error | translate}}</mat-error>
            <mat-error *ngIf="ValidationErrorMessage.getFormControl('WholeSaleName', Add_Item_Unit)
            .hasError('WholeSaleNameUnique')">{{Constants.Unique_Field_ERROR | translate}}</mat-error>
            <mat-error *ngIf="ValidationErrorMessage.getFormControl('WholeSaleName', Add_Item_Unit)
            .hasError('maxlength')">{{Constants.MaxLengthExceeded_ERROR | translate}} {{MaxlengthVlue}}
              {{Constants.characters
              |translate}} </mat-error>
          </mat-form-field>
          <!-- Number in Wholesale -->
          <mat-form-field appearance="outline"
                          fxFlex="24%"
                          fxFlex.xs="100%">
            <mat-label [ngClass]="ValidationErrorMessage.getFormControl('NumberInWholeSale', Add_Item_Unit)
            .valid?Constants.CSS_valid_green:''">{{Constants.NumberInWholeSale| translate}}</mat-label>
            <input matInput
                   required
                   type="number"
                   value=""
                   min="1"
                   formControlName="NumberInWholeSale"
                   [errorStateMatcher]="customErrorStateMatcher" />
            <mat-icon matSuffix><span class="
                   material-icons-outlined">short_text</span></mat-icon>
            <mat-error *ngIf="ValidationErrorMessage.getFormControl('NumberInWholeSale', Add_Item_Unit)
            .hasError('required')">{{Constants.Required_field_Error | translate}}</mat-error>
            <mat-error *ngIf="ValidationErrorMessage.getFormControl('NumberInWholeSale', Add_Item_Unit)
            .hasError('pattern')||ValidationErrorMessage.getFormControl('NumberInWholeSale', Add_Item_Unit)
            .hasError('min')">{{Constants.Negative_Value_ERROR| translate}}</mat-error>

          </mat-form-field>

          <!-- Retail sale unit -->

          <mat-form-field appearance="outline"
                          fxFlex="24%"
                          fxFlex.xs="100%">
            <mat-label [ngClass]="ValidationErrorMessage.getFormControl('RetailSaleName', Add_Item_Unit)
            .valid?Constants.CSS_valid_green:''">{{Constants.RetailUnit| translate}}</mat-label>
            <input matInput
                   required
                   [maxlength]="MaxlengthVlue"
                   type="text"
                   value=""
                   formControlName="RetailSaleName"
                   [errorStateMatcher]="customErrorStateMatcher" />
            <mat-icon matSuffix><span class="material-icons-outlined">short_text</span></mat-icon>
            <mat-error *ngIf="ValidationErrorMessage.getFormControl('RetailSaleName', Add_Item_Unit)
            .hasError('required')">{{Constants.Required_field_Error | translate}}</mat-error>
            <mat-error *ngIf="ValidationErrorMessage.getFormControl('RetailSaleName', Add_Item_Unit)
            .hasError('maxlength')">{{Constants.MaxLengthExceeded_ERROR | translate}} {{MaxlengthVlue}}
              {{Constants.characters|translate}} </mat-error>
          </mat-form-field>
          <!-- number in retail sale -->
          <mat-form-field appearance="outline"
                          fxFlex="24%"
                          fxFlex.xs="100%">
            <mat-label [ngClass]="ValidationErrorMessage.getFormControl('NumberInRetailSale', Add_Item_Unit)
            .valid?Constants.CSS_valid_green:''">{{Constants.NumberInRetailSale| translate}}</mat-label>
            <input matInput
                   required
                   type="number"
                   value=""
                   min="1"
                   formControlName="NumberInRetailSale"
                   [errorStateMatcher]="customErrorStateMatcher" />
            <mat-icon matSuffix><span class="material-icons-outlined">short_text</span></mat-icon>
            <mat-error *ngIf="ValidationErrorMessage.getFormControl('NumberInRetailSale', Add_Item_Unit)
            .hasError('required')">{{Constants.Required_field_Error |translate}}</mat-error>
            <mat-error *ngIf="ValidationErrorMessage.getFormControl('NumberInRetailSale', Add_Item_Unit)
            .hasError('pattern')||ValidationErrorMessage.getFormControl('NumberInRetailSale', Add_Item_Unit)
            .hasError('min')">{{Constants.Negative_Value_ERROR| translate}}</mat-error>
          </mat-form-field>
        </div>
        <button mat-raised-button
                color="primary"
                (submit)="Add_Item_Unit.valid"
                [disabled]="Add_Item_Unit.invalid"
                [ngClass]="ThemeColors.bg + ' ' + Constants.CSS_Width100"
                [class]="ThemeColors.colorName==='organge'||ThemeColors.colorName==='amber'?Constants.CSS_dark_color:
          Constants.CSS_text_white"
                aria-label="Add new item unit"
                (click)="AddMItemUnit()">
          <mat-icon>
            <mat-spinner diameter="20"
                         color="warn"
                         *ngIf="loading"></mat-spinner><span *ngIf="!loading"
                  class="material-icons-outlined">
              add_circle
            </span>
          </mat-icon>
          {{'Add'|translate}} {{Constants.MainCat_Singular | translate}}
        </button>
      </form>
    </mat-card-actions>
  </mat-card>
</ng-container>
