<div fxLayout="column"
     fxLayoutGap="16px">
     <mat-card-title-only [Title]="Title"
                          [Subtitle]="Subtitle"></mat-card-title-only>
     <erp-table [columns]="columns"
                 [data]="AllItems"
                 [datasource]="dataSource"
                 [isLoadingResults]="isLoadingResults"
                 [ShowProgressBar]="ShowProgressBar"
                 [NoData]="AllItems.length === 0 && !isLoadingResults"
                 (DeleteClick)="Delete($event)"
                 (DoubleClickRow)="Edit($event)"
                 (rowsSelection)="SelectRow($event)"
                 (EditClick)="Edit($event)"
                 [AddedRow]="AddedRow"
                 [RowDeleted]="RowDeleted"
                 PreventDeleteForKey="id"
                 PreventDeleteForValue="0"
                 (ClickAddButton)="AddNew($event)"
                 [ToolTipText_input]="translate.GetTranslation(Constants.Add.toLowerCase())+ ' ' + translate.GetTranslation(Constants.Brand_Name_Singular.toLowerCase())">
     </erp-table>
</div>
