<ng-container *ngIf="Success" [dir]="selected!=='ar'?'ltr':'rtl'">
  <h1 class="alert alert-success">{{'CorrectEmailConfirmation'|translate}}</h1>
  <p>{{'You can now'|translate}} <a class="buttonLink" (click)="dialogHandler.OpenClientLoginDialog()">{{'Login'|translate}}</a></p>
</ng-container>

<ng-container *ngIf="Fail">
  <h1 class="alert alert-danger">{{'WrongEmailConfirmation'|translate}}</h1>
  <h2>{{Error}}</h2>
  <p><a class="buttonLink" (click)="dialogHandler.OpenClientLoginDialog()">{{'Click here'|translate}}</a> {{'to send verification email again'|translate}}</p>
</ng-container>
